<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/doSupport.css">
</head>
<body>
    <section id="supportListSection">

        <div>
            <div id="supportList">후원 완료</div>
        </div>

        <div class="path">
            <a class="middle" href="#"><img class="homeIconSize" src="image/home.png"></a>
            <img class="sub iconSize" src="image/onenext.png">
            <a class="middle" href="#">모금함</a>
            <img class="sub iconSize" src="image/onenext.png">
            <a class="middle">후원하기</a>
            <img class="sub iconSize" src="image/onenext.png">
            <a class="middle">후원 완료</a>
        </div>


        <div class="doSupportTitleSection">
            <div class="doSupportTit">
                <div class="doSupportTitle">
                    
                    아픈 손자들을 키우는 할머니<br>
                    <div class="doSupportGroup">by 사회복지공동모금회</div>
                </div>
            </div>
        </div>
    </section>
    

    
    <div class="buttonSection">
        <div class="buttonSmallSection">
            <button class="learn-more" id="modal-open" onclick="location.href='supportListUser.su'">내 후원 내역</button>
            <button class="learn-more">후원 메인</button>
        </div>    
    </div>
</body>
</html>