<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/supportDetail.css">    
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<style>
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
body {
	min-height: 100%;
}

.login {
	margin-left: 300px;
}
	
 .carousel {
	width: 90%;
	height: 90%; /* 원하는 크기로 조절 */
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.carousel img {
	width: auto;
	height: 100%;
	object-fit: cover;
}

</style>

<body>
<div th:replace="~{../common/header :: header}"></div>
<div class="supportBigBigSection">
    <div class="supportBigSection">
        <div class="supDetailSection supDetailSection1">
            <section id="supportDetailSection">


                <div class="path">
                    <a class="middle" href="#"><img class="homeIconSize" src="image/home.png"></a>
                    <img class="sub iconSize" src="image/onenext.png">
                    <a class="middle" href="#">모금함</a>
                    <img class="sub iconSize" src="image/onenext.png">
                    <a class="middle">후원 상세</a>
                </div>


                <div>
                    <div class="supportTitle">[[${s.supportTitle}]]</div>
                    <div class="supportSubTitle">모금함 소개</div>
					 <div>
                    	<img th:src="@{${s.imageUrl}}">
                    </div>

				<div id="summernote"></div>
                </div>
            </section>
        </div>
        
        <div class="supDetailSection supDetailSection2">
            <section id="supportSummarySection">
                <div id="progressPercent" th:text="${(s.fundAmount*100/s.targetAmount)}+'%'"></div>

                <div>
                    <progress id="supportProgress" th:value="${(s.fundAmount*100/s.targetAmount)}" min="0" max="100"></progress>
                </div>

                <div class="supportDuration" th:text="${s.startDate} + '~' + ${s.endDate}">
<!--                     2023.06.12 ~ 2023.07.13 -->
                </div>

                <div class="supportDeadline">
                    D-5
                </div>

                <div class="totalDonation">
                    [[${s.fundAmount}]]원     
                </div>

                <div class="donationButton">
                    <button class="learn-more supportButton" th:onclick="|location.href='doSupport.su?supportNo=${s.supportNo}'|">모금함 기부하기</button>
                </div>

                <div class="supportSubTitle2">
                	모금 단체<br><span>[[${s.registar}]]</span>
                </div>
                <div class="supportSubTitle2 groupInfo">
                	<b>선뜻 가입일</b> &nbsp;&nbsp; <span>[[${s.enrollDate}]]</span><br>
                	<b>문의 전화</b>&nbsp;&nbsp; <span>0[[${s.phone}]]</span>
                </div>
                
                
                    <div class="supportSubTitle">참여 내역</div>

                    <div class="supportDate">
                        2023.06.02 15:03
                    </div>
                    <div class="sponsor">
                        숨은 천사 100원 참여
                    </div>

                    <div class="supportDate">
                        2023.06.01 09:15
                    </div>
                    <div class="sponsor">
                        강건강 100원 참여
                    </div>

                    <div class="supportDate">
                        2023.05.31 18:53
                    </div>
                    <div class="sponsor">
                        숨은 천사 5000원 참여
                    </div><br><br><br>
                
            </section>
        </div>
    </div>
       
<div th:replace="~{../common/footer :: footer}"></div>

<script th:inline="javascript">
    	/*<![CDATA[*/
	    document.getElementById('summernote').innerHTML = /*[[${s.supportContent}]]*/5;
    	/*]]>*/
</script>
</body>
</html>