<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/support/supportListAdmin.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Document</title>

</head>
<body>
	<div th:replace="~{../common/header :: header}"></div>	
	<section style="display: flex;">
    <div th:replace="~{../common/adminSidebar :: adminSidebar}"></div>
    
		<section id="supportListSection">

        <div>
            <div id="supportList">후원 목록</div>
        </div>

        <div class="path">
            <a class="middle" href="#"><img class="homeIconSize" src="image/home.png"></a>
            <img class="sub iconSize" src="image/onenext.png">
            <a class="middle" href="#">관리자 페이지</a>
            <img class="sub iconSize" src="image/onenext.png">
            <a class="middle">후원 목록</a>
            <img class="sub iconSize" src="image/onenext.png">
            <a class="middle">후원자 목록</a>
        </div>

        <table class="supportTable">
            <thead>
                <tr>
                    <th>No</th>
                    <th style="width: 350px;">후원글</th>
                    <th>후원자</th>
                    <th>후원 타입</th>
                    <th>후원 금액</th>
                    <th>결제 방법</th>
                    <th>후원 날짜</th>
                </tr>
            </thead>
            <tbody>
	                <tr th:each="s:${shList}" th:if="${shList!=null}">
	                    <td th:text="${s.supportHistoryNo}"></td>
	                    <td th:text="${s.supportTitle}"></td>
	                    <td th:text="${s.supporterName}"></td>
	                    <td th:text="${s.supporterType}"></td>
	                    <td th:text="${s.supportAmount}"></td>
	                    <td th:text="${s.payType}"></td>
	                    <td th:text="${s.payDate}"></td>
	                </tr>
	                
            </tbody>
        </table>
        
        <div class="page" th:with="loc=${#ctx.springRequestContext.requestUri}">
            <ul class="pagination">
                <li th:if="${ pi.currentPage > 1 }">
	                <a class="first" th:href="@{${loc}(page=${ pi.currentPage -1 })}">
	                	<img class="arrowKey" src="image/before.png">
	                </a>
                </li>
                <li th:unless="${ pi.currentPage > 1 }">
	                	<img class="arrowKey disabled" src="image/before.png">
                </li>
                <li th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage)}">
                	<th:block th:if="${p != 0}">
                	<a th:href="@{${loc}(page=${p})}" th:text="${p}"
                		th:class="${p == pi.currentPage} ? 'num currentPage' : 'num'"></a>
                	</th:block>
                </li>
                <li th:if="${ pi.currentPage < pi.maxPage} ">
	                <a class="last" th:href="@{${loc}(page=${ pi.currentPage + 1 })}">
	                	<img class="arrowKey" src="image/next.png">
	                </a>
                </li>
                <li th:unless="${ pi.currentPage < pi.maxPage }">
	                	<img class="arrowKey disabled" src="image/next.png">
                </li>
            </ul>
        </div>
    </section>
		
</section>

<div th:replace="~{../common/footer :: footer}"></div>

</body>
</html>