@charset "UTF-8";

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
	--body-background-color: #f5f6f7;
	--font-color: #4e4e4e;
	--border-gray-color: #dadada;
}

* {
	margin: 0;
	padding: 0;
	font-family: "SUITE-Regular", sans-serif;
}

.main-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-container .main-wrap {
	width: 768px;
}

.main-container .main-wrap .logo-wrap {
	padding-top: 50px;
}

.main-container .main-wrap header .logo-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-input-section-wrap {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-input-wrap {
	width: 300px;
	height: 45px;
	border: solid 1px var(--border-gray-color);
	background: white;
	border-radius: 3px;
	position: relative;
}

.password-wrap {
	margin-top: 13px;
}

.login-input-wrap input {
	border: none;
	width: 250px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height: 27px;
	outline: none;
}

div.login-input-wrap span.placeholder-span {
  position: absolute;
  margin: 10px 0;
  padding: 0 4px;
  color:  gray;
  display: flex;
  align-items: center;
  font-size: 15px;
  top: 0;
  left: 10px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}

div.login-input-wrap input:valid + span.placeholder-span,
div.login-input-wrap input:focus + span.placeholder-span {
  transform: scale(0.8) translateY(-25px);
  background: #fff;
}

.login-button-wrap {
	padding-top: 13px;
}

.login-button-wrap button {
	width: 300px;
	height: 45px;
	font-size: 18px;
	background: #609966;
	color: white;
	border: solid 1px #609966;
	border-radius: 3px;
}

.login-stay-sign-in {
	width: 300px;
	height: 52px;
	display: flex;
	font-size: 15px;
	color: #4e4e4e;
	align-items: center;
	justify-content: flex-start;
}

.login-stay-sign-in img {
	color: #9ba1a3;
}

.login-stay-sign-in span {
	padding-left: 5px;
	line-height: 25px;
}

.Easy-sgin-in-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 25px;
}

.Easy-sgin-in-wrap h4 {
	font-size: 18px;
}

.Easy-sgin-in-wrap .sign-button-list {
	padding-top: 25px;
	list-style: none;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Easy-sgin-in-wrap .sign-button-list li {
	padding-bottom: 10px;
}

.Easy-sgin-in-wrap .sign-button-list li button {
	width: 300px;
	height: 56px;
	border: solid 1px #f9e000;
	text-align: center;
	background: #f9e000;
	display: flex;
	align-items: center;
}

.Easy-sgin-in-wrap .sign-button-list li button i {
	padding-right: 15px;
	font-size: 20px;
}

.Easy-sgin-in-wrap button{
	border: none;
}

.Easy-sgin-in-wrap .forget-msg {
	color: var(--font-color);
	font-size: 14px;
	padding-top: 10px;
}

.others {
	margin-top: 20px;
}

.Easy-sgin-in-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr-sect {
  display: flex;
  align-items: center;
  margin: 8px 0px 20px 0px;
}

.line-left {
  width: 122px;
  margin-right: 5px;
}

.line-right {
  width: 122px;
  margin-left: 5px;
}

.textOr {
  color: #4e4e4e;
  font-size: 15px;
  margin: 0px 8px;
}

.forget-msg {
	text-decoration: none;
	color: #4e4e4e;
	font-size: 15px;
}

.login-input-wrap input:focus {
  outline: none; /* 포커스 시 아웃라인 제거 */
  background-color: transparent; /* 배경색 제거 */
}

#loginCheckResult {
	font-size: 15px;
	color: #609966;    
} 

.check-div {
	margin-top: 22px; 
}

button[name='loginBtn'] {
	cursor:pointer;
}

.kakao-login{
 	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
	outline: none;
}