@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "SUITE-Regular", sans-serif;
} 

#v-title-section {
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column; 
}

#v-title {
  font-size: 30px;
  border-bottom: 2px solid #40513B;
}

.path {
  margin-top: 30px;
  width: 740px;
  font-size: 14px;
}

.middle {
  vertical-align: middle;
  text-decoration: none;
  color: black;
}

.iconSize {
  block-size: 12px;
}

.homeIconSize {
  block-size: 14px;
}

.sub {
  vertical-align: sub;
}

/* 이전 다음 버튼 */
.btn-gradient:hover {
  color: #40513B;
}

.btn-gradient {
margin-top: 30px;
  margin-bottom: 50px;
}

.next {
  margin-left: 10px;
}

.prev {
  margin-right: 10px;
}

.btn-gradient.mini {
padding: 4px 20px;  
font-size: 16px;
}

/* Gradient buttons */
.btn-gradient {
text-decoration: none;
color: white;
padding: 10px 30px;
display: inline-block;
position: relative;
border: 1px solid rgba(0,0,0,0.21);
border-bottom: 4px solid rgba(0,0,0,0.21);
border-radius: 17px;
text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.btn-gradient.yellow {
background: #609966;
}

.va-prev-next-btn-div {
  width: 750px;
  display: flex;
  justify-content: space-between;
}

.v-apply-title {
  width: 750px;
}

.v-list-btn {
  float: right;
  margin: 0;
  background-color: darkgray;
  cursor: pointer;
}

.v-locale-icon, .v-org, .v-recruitment-status {
  vertical-align: -webkit-baseline-middle;
}

.v-locale-icon {
  background-color: #4f9739;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  font-size: 17px;
}

.v-org {
  margin-left: 5px;
  font-size: 17px;
}

.v-recruitment-status {
  color: rgb(252, 48, 48);
  font-size: 17px;
}

.v-apply-info {
	margin-top: 40px;
}

.v-apply-info table {
  border-style: hidden;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #000;
  width: 750px;
  margin-top: 20px;
  border-collapse: collapse;
}

.v-apply-info table tr:first-child td:first-child {
  border-radius: 8px 0 0 0;
}

.v-apply-info table tr:first-child td:last-child {
  border-radius: 0 8px 0 0;
}

.v-apply-info table tr:last-child td:last-child {
  border-radius: 0 0 8px 8px;
}

.v-apply-info table td:nth-child(odd) {
  text-align: center;
  background-color: rgb(224, 224, 224);
}

.v-apply-info table td {
  padding: 10px;
  font-size: 14px;
  border: 1px solid black;
}

.v-apply-info table td:last-child {
  text-align: left;
  background-color: white;
}

.v-apply-info table td > div {
  padding: 20px;
}

#map {
  margin: 10px 0;
  height: 400px;
  width: 100%;
}

.v-charge-name {
  display: inline-block;
  width: 20%;
}

.v-charge-name::before {
  content: "😄";
  margin-right: 5px;
}

.v-charge-phone::before {
  content: "📞";
  margin-right: 5px;
}

.v-charge-address::before {
  content: "🌏";
  margin-right: 5px;
}

.v-charge-address-div {
  margin-top: 7px;
}

.v-apply-btn-div {
  margin-top: 20px;
  text-align: center;
}

.v-apply-btn, .v-modify-btn, .v-delete-btn {
  width: 90px;
  height: 30px;
  margin-top: 10px;
  font-size: 15px;
  cursor: pointer;
  float: right;
}

.v-modify-btn, .v-delete-btn {
  width: 60px;
}

.v-delete-btn {
  margin-left: 5px;
}

.learn-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  /*   padding: 1.25em 2em; */
  background: #f1d6d6;
  border: 2px solid #996060;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c08b8b;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #996060, 0 0.625em 0 0 #f1d6d6;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more:hover {
  background: #f1d6d6;
  transform: translate(0, 0.25em);
}
.learn-more:hover::before {
  box-shadow: 0 0 0 2px #996060, 0 0.5em 0 0 #f1d6d6;
  transform: translate3d(0, 0.5em, -1em);
}
.learn-more:active {
  background: #f1d6d6;
  transform: translate(0em, 0.75em);
}
.learn-more:active::before {
  box-shadow: 0 0 0 2px #b18585, 0 0 #ffe2e2;
  transform: translate3d(0, 0, -1em);
}

.learn-more-green {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  /*   padding: 1.25em 2em; */
  background: #EDF1D6;
  border: 2px solid #609966;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more-green::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #9DC08B;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #609966, 0 0.625em 0 0 #EDF1D6;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more-green:hover {
  background: #EDF1D6;
  transform: translate(0, 0.25em);
}
.learn-more-green:hover::before {
  box-shadow: 0 0 0 2px #609966, 0 0.5em 0 0 #EDF1D6;
  transform: translate3d(0, 0.5em, -1em);
}
.learn-more-green:active {
  background: #EDF1D6;
  transform: translate(0em, 0.75em);
}
.learn-more-green:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}