@charset "UTF-8";

@font-face {
	font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "SUITE-Regular", sans-serif;
}

.btn-gradient:hover {
  color: #40513B;
}

.btn-gradient {
margin-top: 30px;
  margin-bottom: 50px;
}

.btn-gradient.mini {
padding: 4px 20px;  
font-size: 16px;
}

/* Gradient buttons */
.btn-gradient {
text-decoration: none;
color: white;
padding: 10px 30px;
display: inline-block;
position: relative;
border: 1px solid rgba(0,0,0,0.21);
border-bottom: 4px solid rgba(0,0,0,0.21);
border-radius: 17px;
text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.btn-gradient.yellow {
background: #609966;
}

.va-prev-next-btn-div {
  width: 750px;
  display: flex;
  justify-content: space-between;
}

.v-apply-title {
  width: 750px;
}

.v-list-btn {
  float: right;
  margin: 0;
  background-color: darkgray;
  cursor: pointer;
}

.state-btn {
    margin: 0;
	width: 25px;
    height: 25px;
    border-radius: 7px;
}

.state-y {
	background: #4f9739;
}

.state-n {
	background: lightgray;
}

.btnClear {
	position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: inherit;
    background: url(https://img.icons8.com/pastel-glyph/2x/cancel.png) center center no-repeat;
    background-size: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

#volunteerListSection {
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin-top: 100px;
    margin-left: 250px;
}

#volunteerList {
    font-size: 30px;
    border-bottom: 2px solid #40513B;
}

.path {
    margin-top: 30px;
    width: 1000px;
    font-size: 14px;
}

.middle {
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.iconSize {
    block-size: 12px;
}

.homeIconSize {
    block-size: 14px;
}

.sub {
    vertical-align: sub;
}

.v-history-table {
    width: 1000px;
    padding: 10px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 15px;
    border-radius: 10px;
}

th, td {
    padding: 10px;
}

td:last-child {
	padding: 0;
}

.v-history-table thead tr th {
    border-bottom: 1px dotted black;
    background-color: #EDF1D6;
}

.v-history-table thead tr th:first-child {
    border-radius: 10px 0px 0px 0px;
}

.v-history-table thead tr th:last-child {
    border-radius: 0px 10px 0px 0px;
}

.page {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
}

.pagination > li {
    list-style-type: none;
    float: left;
}

.pagination > li > .num {
    margin: 10px;
    width: 20px;
    height: 20px;
    text-decoration-line: none;
    color: black;
    font-size: 16px;
    display: inline-block;
    text-align: center
}

.pagination > li > .num:hover {
    color: white;
    background-color: #40513B;
    border-radius: 100%;
}

.currentPage{
	color: white;
    background-color: #9bc08d;
    border-radius: 100%;
}

.arrowKey {
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    block-size: 14px;
    display: block;
}

.disabled {
	opacity: 0.3;
}


.v-history-table > tbody > tr:hover{
    background-color: #f3f5e5;
    cursor: pointer;
}

.v-history-table > tbody td:first-child {
    border-radius: 8px 0px 0px 8px;
}

.v-history-table > tbody td:last-child {
    border-radius: 0px 8px 8px 0px;
}

@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

button {
	margin-top:10px;			
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	font-size: 15px;
	font-family: inherit;
}
.learn-more {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
/*   padding: 1.25em 2em; */
    background: #EDF1D6;
    border: 2px solid #609966;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    width:150px;
	height:30px;
	float:right;
}
.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #9DC08B;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #609966, 0 0.625em 0 0 #EDF1D6;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more:hover {
  background: #EDF1D6;
  transform: translate(0, 0.25em);
}
.learn-more:hover::before {
  box-shadow: 0 0 0 2px #609966, 0 0.5em 0 0 #EDF1D6;
  transform: translate3d(0, 0.5em, -1em);
}
.learn-more:active {
  background: #EDF1D6;
  transform: translate(0em, 0.75em);
}
.learn-more:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #EDF1D6;
  transform: translate3d(0, 0, -1em);
}

.v-search {
    display: flex;
    text-align: center;
    width: 1000px;
    margin-top: 30px;
}

.v-search-inner {
    align-self: flex-start;
    border: 1px solid black;
    border-radius: 0.4rem;
    padding: 15px;
    text-align: left;
    width: 100%;
    padding-bottom: 30px;
}

.v-search-inner table td:nth-child(1) {
    padding-left: 20px;
}

.v-search-inner table td:nth-child(3) {
    padding-left: 20px;
}

.date-delimeter::after {
    content: " ⁓ ";
    font-size: 20px;
}

.v-search-inner input {
    padding: 5px;
    border: 1px solid #556b4e;
    border-radius: 8px;
}

.v-search-inner input[type="date"] {
    width: 112px;
    font-size: 12px;
}

.v-search-inner input[type="text"] {
    width: 247px;
    font-size: 14px;
}

.v-search-inner td {
    padding: 10px 5px;
    font-size: 15px;
}

.v-search-inner input:focus {
    outline: 1px solid #556b4e;
}

.v-search-inner-btn {
    margin-right: 7px;
}

.learn-more-gray {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    /*   padding: 1.25em 2em; */
    background: #d3d3d3;
    border: 2px solid #808080;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more-gray::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b9b9b9;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #808080, 0 0.625em 0 0 #d3d3d3;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more-gray:hover {
    background: #d3d3d3;
    transform: translate(0, 0.25em);
}
.learn-more-gray:hover::before {
    box-shadow: 0 0 0 2px #808080, 0 0.5em 0 0 #d3d3d3;
    transform: translate3d(0, 0.5em, -1em);
}
.learn-more-gray:active {
    background: #d3d3d3;
    transform: translate(0em, 0.75em);
}
.learn-more-gray:active::before {
    box-shadow: 0 0 0 2px #b3b3b3, 0 0 #d3d3d3;
    transform: translate3d(0, 0, -1em);
}

#v-search-btn, #v-reset-btn {
    width: 60px;
    height: 30px;
    float: right;
    cursor: pointer;
}

#v-reset-btn {
    margin-right: 5px;
}

.dropdown{
    position : relative;
    display : inline-block;
}

.dropdown-btn {
    border : none;
    background-color: #EDF1D6;
  /*   font-weight: 400; */
    color : rgb(37, 37, 37);
    padding : 10px;
    width :100px;
    height:40px;
    cursor : pointer;
    font-size : 13px;
    text-align: center;
    margin: auto;
}

.dropdown-content {
    display : none;
    position : absolute;
    z-index : 9999;
    font-weight: 400;
    background-color: white;
    min-width : 100px;
    text-align: center;
}

.dropdown-content span{
    display : block;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 12px 0;
}


.dropdown-content span:hover{
    background-color : #609966;
    color:white;
}

.selectObject, .selectMainCategory, .selectRecruitment {
    width: 100px;
    height: 40px;
    background-color: #EDF1D6;
}

.select-date-btn {
    font-size: 13px;
    width: 40px;
    height: 30px;
    background-color: #EDF1D6;
    margin: auto;
}

.select-date-btn:hover {
    background-color: #9DC08B;
}

.select-date {
    background-color: #9DC08B;
}