<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작성 글</title>
    <link rel="stylesheet" href="css/myBoard_style.css">
</head>
<body>
	<div th:replace="~{../common/header :: header}"></div>
    <section id="myBoardSection">
        <div>
            <div id="myBoardTitle">내가 작성한 글</div>
        </div>

        <div class="actionArea">
            <div class="searchArea">
                <input class="searchInput" type="text" placeholder="검색"/>
                <a class="searchIconATag" href="#"><img class="searchIcon" src="image/search.png"></a>
            </div>
            <div class="dropdown">
                <button id="dropbtn"> 
                    🐻‍❄️카테고리
                </button>
                <input type="hidden" name="category" value="none">
                <div class="dropdown-content">
                    <span class="selectCate">선택없음</span>
                    <span class="selectCate">제목</span>
                    <span class="selectCate">내용</span>
                </div>
            </div>
        </div>

        <table class="myBoardTable">
            <thead>
                <tr>
                    <th>No</th>
                    <th style="width: 400px;">제목</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="myBoardTitle_wrap">
							<p class="myBoardTitle">후원금 기부 내역 안내입니다. 자세한 사항은 글 상세보기를 통해 확인하세요.</p>
						</div>
                    </td>
                    <td>2023-05-31</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="myBoardTitle_wrap">
							<p class="myBoardTitle">후원금 기부 내역 안내입니다. 자세한 사항은 글 상세보기를 통해 확인하세요.</p>
						</div>
                    </td>
                    <td>2023-05-31</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="myBoardTitle_wrap">
							<p class="myBoardTitle">후원금 기부 내역 안내입니다. 자세한 사항은 글 상세보기를 통해 확인하세요.</p>
						</div>
                    </td>
                    <td>2023-05-31</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="myBoardTitle_wrap">
							<p class="myBoardTitle">후원금 기부 내역 안내입니다. 자세한 사항은 글 상세보기를 통해 확인하세요.</p>
						</div>
                    </td>
                    <td>2023-05-31</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="myBoardTitle_wrap">
							<p class="myBoardTitle">후원금 기부 내역 안내입니다. 자세한 사항은 글 상세보기를 통해 확인하세요.</p>
						</div>
                    </td>
                    <td>2023-05-31</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="myBoardTitle_wrap">
							<p class="myBoardTitle">후원금 기부 내역 안내입니다. 자세한 사항은 글 상세보기를 통해 확인하세요.</p>
						</div>
                    </td>
                    <td>2023-05-31</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="myBoardTitle_wrap">
							<p class="myBoardTitle">후원금 기부 내역 안내입니다. 자세한 사항은 글 상세보기를 통해 확인하세요.</p>
						</div>
                    </td>
                    <td>2023-05-31</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="myBoardTitle_wrap">
							<p class="myBoardTitle">후원금 기부 내역 안내입니다. 자세한 사항은 글 상세보기를 통해 확인하세요.</p>
						</div>
                    </td>
                    <td>2023-05-31</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="myBoardTitle_wrap">
							<p class="myBoardTitle">후원금 기부 내역 안내입니다. 자세한 사항은 글 상세보기를 통해 확인하세요.</p>
						</div>
                    </td>
                    <td>2023-05-31</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="myBoardTitle_wrap">
							<p class="myBoardTitle">후원금 기부 내역 안내입니다. 자세한 사항은 글 상세보기를 통해 확인하세요.</p>
						</div>
                    </td>
                    <td>2023-05-31</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>

        <div class="page">
            <ul class="pagination">
                <li><a href="#" class="first"><img class="arrowKey" src="image/before.png"></a></li>
                <li><a href="#" class="num">1</a></li>
                <li><a href="#" class="num">2</a></li>
                <li><a href="#" class="num">3</a></li>
                <li><a href="#" class="num">4</a></li>
                <li><a href="#" class="num">5</a></li>
                <li><a href="#" class="last"><img class="arrowKey" src="image/next.png"></a></li>
            </ul>
        </div>
    </section>
    <div th:replace="~{views/common/footer :: footer}"></div>
    <script>
    	window.onload = () => {
			const selectCates = document.getElementsByClassName('selectCate');
			for(const selectCate of selectCates){
				selectCate.addEventListener('click', function(){
					document.getElementById('dropbtn').innerText = this.innerHTML;
					document.getElementsByName('category')[0].value= this.innerHTML;
					console.log(document.getElementsByClassName('dropdown-content')[0])
					document.getElementsByClassName('dropdown-content')[0].style.display='none';
					
				});
			}
			
			document.getElementById('dropbtn').addEventListener('click', ()=>{
				document.getElementsByClassName('dropdown-content')[0].style.display='block';	
			});

            document.addEventListener('click', (event) => {
                const target = event.target;
                const dropdownContent = document.getElementsByClassName('dropdown-content')[0];
                const dropbtn = document.getElementById('dropbtn');
                if (target !== dropdownContent && target !== dropbtn) {
                    dropdownContent.style.display = 'none';
                }
            });
    	}
    </script>
</body>
</html>