@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUITE-Regular", sans-serif;
} 

.background {
    background-color: white;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hamburger {
    color:#9DC08B;
}

#header {
    background-color: #EDF1D6;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in;
    overflow: hidden;
}

li {
    list-style: none;
}

#header img {
    margin: 40px 0;
    height: 80px;
    vertical-align: middle;
}

#main > ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#main > ul > li {
    float:left; 
    line-height:20px; 
    position: relative;
    padding: 10px 60px;
}

.menu a {
    color: gray;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 25px;
    position: relative;
    display: block;
    text-decoration: none;
}

.SMN_effect-6 a {
    padding: 10px 0;
    white-space: pre;
  }

.SMN_effect-6 a:before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 0;
    max-width: 0;
    border-bottom: 2px solid #40513B;
    color: #40513B;
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

.SMN_effect-6 a:hover:before, .SMN_effect-6 a:focus:before {
    max-width: 100%;
}

.bar {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px;
    font-size: 25px;
    color: #40513B;
    display: none;
}

.bar i {
    cursor: pointer;
}

.bar .hamburgerMenu {
	display: none;
    margin-top: 10px;
    text-align: center;
    z-index: 10;
    position: relative;
}

.bar .hamburgerMenu ul {
	padding: 0;
	margin: 0;
}

#subMenu {
    background-color: rgba(237, 241, 214, 0.8);
    display: none;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.isLogin {
	height: 280px;
}

.notLogin {
	height: 200px;	
}

#subMenu > div {
    width: 150.58px;
    text-align: center;
    line-height: 1;
}

#subMenu > div > div:nth-child(1) {
    margin-top: 10px;
}

#subMenu > div:nth-child(4) {
    width: 181.14px;
}

#subMenu > div:nth-child(5) {
    width: 149.23px;
}

#subMenu > div:nth-child(6) {
	width: 180.11px;
}

#subMenu > div:nth-child(1):hover #main>ul>li>a:nth-child(1) {
    border-bottom: 2px solid #40513B;
    color: #40513B;
}

#subMenu a {
    color: gray;
    font-size: 13px;
    font-weight: 400;
    padding: 15px 0px;
    display: block;
    text-decoration: none;
}

#subMenu a:hover {
    color: #40513B;
    text-decoration: #9DC08B wavy underline;
}

@media screen and (max-width: 768px) {
    #header #main, #subMenu {
        opacity: 0;
    }

    #header {
        height: 160px;
    }

    .bar {
        display: block;
    }
}

