<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>봉사 수정</title>
    <link rel="stylesheet" href="css/volunteer/volunteerEdit.css">
    
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	<!-- include summernote css/js -->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
	
	<style>
		/* 모달 */
		#modal { width: 300px; height: 350px; border: 1px solid #eee; padding: 30px; margin: auto; display: none;
			border-radius: 20px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);  text-align: center; background-color: white;
	 		position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;}
		
		.modal-comment {
			font-size: 16px;
		}
		
		#withdrawal-btn {
			border-radius: 4px;
			width: 90px;
			height: 35px;
			font-size: 15px;
			color: #fff;
			background-color: #609966;
			border: 1.5px solid #609966;
		}
		
		#rollback-btn {
			border-radius: 4px;
			width: 90px;
			height: 35px;
			font-size: 15px;
			color: #609966;
			background-color: #fff;
			border: 1.5px solid #609966;
		}
		
		.modal-comment2 {
			font-weight: bold;
			font-size: 17px;
		}
		
		#heartImage {
			block-size: 120px;
		}
	</style>
</head>
<body>
	<div th:replace="~{../common/header :: header}"></div>
	
    <section id="v-title-section">
        <div>
            <div id="v-title">봉사 수정</div>
        </div>
        
        <div class="va-prev-next-btn-div">
            <button id="backBtn" class="btn-gradient yellow mini prev">이전</button>
        </div>

        <section class="v-apply-info">
        	<form id="vForm" action="updateVolunteer.vo" method="post">
        		<input type="hidden" name="vNo" th:value="${v.vNo}">
        		<input type="hidden" name="page" th:value="${page}">
        		<input type="hidden" name="sStartDate" th:value="${searchMap.vStartDate}">
        		<input type="hidden" name="sEndDate" th:value="${searchMap.vEndDate}">
        		<input type="hidden" name="sName" th:value="${searchMap.vName}">
        		<input type="hidden" name="sRegistrar" th:value="${searchMap.registrar}">
        		<input type="hidden" name="sArea" th:value="${searchMap.vArea}">
        		<input type="hidden" name="sMainCategoryName" th:value="${searchMap.vMainCategoryName}">
        		<input type="hidden" name="sActivityType" th:value="${searchMap.vActivityType}">
        		<input type="hidden" name="sTargetCategoryName" th:value="${searchMap.vTargetCategoryName}">
        		<input type="hidden" name="sStatus" th:value="${searchMap.status}">
	            <table class="v-table">
	                <tr>
	                    <td>지역</td>
	                    <td colspan="3">
	                        <span class="dropdown" id="area-dropdown">
	                            <button type="button" class="dropdown-btn" id="areabtn">[[${v.vArea}]]</button>
	                            <input type="hidden" id="area" name="vArea" th:value="${v.vArea}" required/>
	                            <div class="dropdown-content" id="area-content">
	                                <span class="selectArea">서울</span>
	                                <span class="selectArea">세종</span>
	                                <span class="selectArea">경기</span>
	                                <span class="selectArea">인천</span>
	                                <span class="selectArea">부산</span>
	                                <span class="selectArea">광주</span>
	                                <span class="selectArea">울산</span>
	                                <span class="selectArea">대전</span>
	                                <span class="selectArea">대구</span>
	                                <span class="selectArea">충청</span>
	                                <span class="selectArea">강원</span>
	                                <span class="selectArea">경상</span>
	                                <span class="selectArea">전라</span>
	                                <span class="selectArea">제주</span>
	                            </div>
	                        </span>  
	                    </td>
	                </tr>
	                <tr>
	                    <td>제목</td>
	                    <td colspan="3">
	                        <input type="text" name="vName" maxlength="40" th:value="${v.vName}" required/>
	                    </td>
	                </tr>
	                <tr>
	                    <td width="15%">봉사기간</td>
	                    <td width="35%">
	                        <div class="dateDiv">
	                            <input type="date" id="startDate" name="vStartDate" th:value="${v.vStartDate}" required/><span class="date-delimeter"></span><input type="date" id="endDate" name="vEndDate" th:value="${v.vEndDate}" required/>
	                        </div>
	                    </td>
	                    <td width="15%">봉사시간</td>
	                    <td width="35%">
	                        <div class="dateDiv">
	                            <input type="time" id="startTime" name="vStartTime" th:value="${v.vStartTime}" required/><span class="date-delimeter"></span><input type="time" id="endTime" name="vEndTime" th:value="${v.vEndTime}" required/>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <td>모집기간</td>
	                    <td>
	                        <div class="dateDiv">
	                            <input type="date" id="rStartDate" name="vRecruitmentStartDate" th:value="${v.vRecruitmentStartDate}" required/><span class="date-delimeter"></span><input type="date" id="rEndDate" name="vRecruitmentEndDate" th:value="${v.vRecruitmentEndDate}" required/>
	                        </div>
	                    </td>
	                    <td>활동요일</td>
	                    <td>
	                    	<input type="hidden" id="vDay" name="vDay" th:value="${v.vDay}"/>
	                        <span class="v-day">월</span><span class="v-day">화</span><span class="v-day">수</span><span class="v-day">목</span><span class="v-day">금</span><span class="v-day">토</span><span class="v-day">일</span>
	                    </td>
	                </tr>
	                <tr>
	                    <td>모집인원</td>
	                    <td><input type="number" id="vCountAll" name="vCountAll" min="1" max="100" th:value="${v.vCountAll}" required/>명</td>
	                    <td>활동구분</td>
	                    <td>
	                        <span class="dropdown" id="onoffLine-dropdown">
	                            <button type="button" class="dropdown-btn" id="on-offLineBtn">[[${v.vActivityType}]]</button>
	                            <input type="hidden" id="onoffLine" name="vActivityType" th:value="${v.vActivityType}" required/>
	                            <div class="dropdown-content" id="onoffLine-content">
	                                <span class="selectOnOffLine">온라인</span>
	                                <span class="selectOnOffLine">오프라인</span>
	                            </div>
	                        </span>
	                    </td>
	                </tr>
	                <tr>
	                    <td>봉사분야</td>
	                    <td>
	                        <span class="dropdown" id="mainCategory-dropdown">
	                            <button type="button" class="dropdown-btn" id="mainCategoryBtn">[[${v.vMainCategoryName}]]</button>
	                            <input type="hidden" id="mainCategory" name="vMainCategoryNo" th:value="${v.vMainCategoryNo}" required/>
	                            <div class="dropdown-content" id="mainCategory-content">
	                                <span class="selectMainCategory" data-value="1">생활편의지원</span>
	                                <span class="selectMainCategory" data-value="2">주거환경</span>
	                                <span class="selectMainCategory" data-value="3">상담</span>
	                                <span class="selectMainCategory" data-value="4">교육</span>
	                                <span class="selectMainCategory" data-value="5">문화행사</span>
	                                <span class="selectMainCategory" data-value="6">환경보호</span>
	                                <span class="selectMainCategory" data-value="7">안전·예방</span>
	                                <span class="selectMainCategory" data-value="8">재해·재난</span>
	                            </div>                              
	                        </span>
	                        <span class="subCategoryDelimiter">></span>
	                        <span class="dropdown" id="subCategory-dropdown">
	                            <button type="button" class="dropdown-btn" id="subCategoryBtn">[[${v.vSubCategoryName}]]</button>
	                            <input type="hidden" id="subCategory" name="vSubCategoryNo" th:value="${v.vSubCategoryNo}" required/>
	                            <div class="dropdown-content" id="subCategory-content">
	                            	
	                            </div>
	                        </span>
	                    </td>
	                    <td>봉사대상</td>
	                    <td>
	                        <span class="dropdown" id="object-dropdown">
	                            <button type="button" class="dropdown-btn" id="objectBtn">[[${v.vTargetCategoryName}]]</button>
	                            <input type="hidden" id="object" name="vTargetCategoryNo" th:value="${v.vTargetCategoryNo}" required/>
	                            <div class="dropdown-content" id="object-content">
	                                <span class="selectObject" data-value="1">아동·청소년</span>
	                                <span class="selectObject" data-value="2">장애인</span>
	                                <span class="selectObject" data-value="3">노인</span>
	                                <span class="selectObject" data-value="4">여성</span>
	                                <span class="selectObject" data-value="5">환경</span>
	                                <span class="selectObject" data-value="6">기타</span>
	                            </div>
	                        </span>
	                    </td>
	                </tr>
	                <tr>
	                    <td>모집기관</td>
	                    <td colspan="3" class="td-padding">[[${session.loginUser.registrar}]]</td>
	                </tr>
	                <tr>
	                    <td>봉사장소</td>
	                    <td colspan="3"><input type="text" name="vLocation" maxlength="40" th:value="${v.vLocation}" required/></td>
	                </tr>
	                <tr>
	                	<td>담당자명</td>
	                    <td><input type="text" name="vChargeName" maxlength="6" th:value="${v.vChargeName}" required/></td>
	                    <td>담당자 전화번호</td>
	                    <td><input type="text" name="vChargePhone" th:value="${v.vChargePhone}" required/></td>
	                </tr>
	                <tr>
	                    <td colspan="4">
	                        <textarea id="summernote" name="vContent" required>[[${v.vContent}]]</textarea>
	                    </td>
	                </tr>
	            </table>
	            <div class="v-apply-btn-div">
	                <button type="submit" id="modifyBtn" class="learn-more-green v-apply-btn">수정하기</button>
	            </div>
            </form>
        </section>
    </section>
    
   	<div th:replace="~{../common/footer :: footer}"></div>  
   	
   	<!-- 모달창 -->
	<div id="modal"><br>
		<img id="heartImage" src="image/heart2.png"/><br><br>
		<span class="modal-comment modal-comment2">봉사 수정을 취소하시겠어요?</span><br>
		<span class="modal-comment">확인 선택 시 작성한 봉사 내용은</span><br>
		<span class="modal-comment">절대 복구되지 않습니다.</span><br><br>
		<button id="rollback-btn">취소</button>
		<button id="withdrawal-btn">확인</button>
	</div>

    <script th:inline="javascript">
        window.onload = () => {      
       	    const formAction = () => {
       	    	/*<!CDATA[[*/
       	    	const volunteer = /*[[${v}]]*/null;
       	    	const page = /*[[${page}]]*/1;
       	    	const searchMap = /*[[${searchMap}]]*/null;
       	    	/*]]>*/
       		    const form  = document.createElement("form");
           	    form.setAttribute("method", "post");
           	    form.setAttribute("action", "volunteerDetail.vo");
           	    
           	    const hiddenVNo = document.createElement("input");
           	    hiddenVNo.setAttribute("type", "hidden");
           	    hiddenVNo.setAttribute("name", "vNo");
           	    hiddenVNo.setAttribute("value", volunteer.vNo);
           	    form.appendChild(hiddenVNo);
       		    
       		    const hiddenPage = document.createElement("input");
       		    hiddenPage.setAttribute("type", "hidden");
       		    hiddenPage.setAttribute("name", "page");
       		    hiddenPage.setAttribute("value", page);
       		    form.appendChild(hiddenPage);
       		    
       		    const hiddenStartDate = document.createElement("input");
       		    hiddenStartDate.setAttribute("type", "hidden");
       		    hiddenStartDate.setAttribute("name", "vStartDate");
       		    hiddenStartDate.setAttribute("value", searchMap.vStartDate);
       		    form.appendChild(hiddenStartDate);
       		    
       		    const hiddenEndDate = document.createElement("input");
       		    hiddenEndDate.setAttribute("type", "hidden");
       		    hiddenEndDate.setAttribute("name", "vEndDate");
       		    hiddenEndDate.setAttribute("value", searchMap.vEndDate);
       		    form.appendChild(hiddenEndDate);
       		    
       		    const hiddenVolunteerName = document.createElement("input");
       		    hiddenVolunteerName.setAttribute("type", "hidden");
       		    hiddenVolunteerName.setAttribute("name", "vName");
       		    hiddenVolunteerName.setAttribute("value", searchMap.vName);
       		    form.appendChild(hiddenVolunteerName);
       		    
       		    const hiddenRegistrar = document.createElement("input");
       		    hiddenRegistrar.setAttribute("type", "hidden");
       		    hiddenRegistrar.setAttribute("name", "registrar");
       		    hiddenRegistrar.setAttribute("value", searchMap.registrar);
       		    form.appendChild(hiddenRegistrar);
       		    
       		    const hiddenLocation = document.createElement("input");
       		    hiddenLocation.setAttribute("type", "hidden");
       		    hiddenLocation.setAttribute("name", "vArea");
       		    hiddenLocation.setAttribute("value", searchMap.vArea);
       		    form.appendChild(hiddenLocation);
       		    
       		    const hiddenCategory = document.createElement("input");
       		    hiddenCategory.setAttribute("type", "hidden");
       		    hiddenCategory.setAttribute("name", "vMainCategoryName");
       		    hiddenCategory.setAttribute("value", searchMap.vMainCategoryName);
       		    form.appendChild(hiddenCategory);
       		    
       		    const hiddenOnOffLine = document.createElement("input");
       		    hiddenOnOffLine.setAttribute("type", "hidden");
       		    hiddenOnOffLine.setAttribute("name", "vActivityType");
       		    hiddenOnOffLine.setAttribute("value", searchMap.vActivityType);
       		    form.appendChild(hiddenOnOffLine);
       		    
       		    const hiddenObject = document.createElement("input");
       		    hiddenObject.setAttribute("type", "hidden");
       		    hiddenObject.setAttribute("name", "vTargetCategoryName");
       		    hiddenObject.setAttribute("value", searchMap.vTargetCategoryName);
       		    form.appendChild(hiddenObject);		
       		    
       		    const hiddenStatus = document.createElement("input");
       		    hiddenStatus.setAttribute("type", "hidden");
       		    hiddenStatus.setAttribute("name", "status");
       		    hiddenStatus.setAttribute("value", searchMap.status);
       		    form.appendChild(hiddenStatus);	
       			
       		    document.body.appendChild(form);
       		    form.submit();
       		}
        	    
        	/*<![CDATA[*/
        	// 취소 버튼 모달
			const backBtn = document.getElementById('backBtn');
			const yesBtn = document.getElementById('withdrawal-btn');
			const noBtn = document.getElementById('rollback-btn');
			const modal = document.getElementById('modal');
			
			backBtn.addEventListener('click', () => {
				event.preventDefault();
			    modal.style.display = 'block';
			});
			
			yesBtn.addEventListener('click', () => {
			    modal.style.display = 'none';
			    formAction();
			});
			
			noBtn.addEventListener('click', () => {
			    modal.style.display = 'none';
			});
			/*]]*/
			
        	$('#summernote').summernote({
				placeholder: '내용을 입력하세요.',
				minHeight: 350,
				maxHeight: 350,
				maxWidth: 750,
				lang : 'ko-KR',
				 toolbar: [
			          ['style', ['style']],
			          ['font', ['bold', 'italic', 'underline', 'clear']],
			          ['color', ['color']],
			          ['para', ['paragraph']],
			          ['insert', ['link', 'picture', 'video']],
			          ['view', ['help']]
		        ]
			});
        	
        	document.addEventListener('click', (event) => {
                const target = event.target;
                const dropdownContents = document.querySelectorAll('.dropdown-content');
                const dropbtns = document.querySelectorAll('.dropdown-btn');
                for(let i=0; i<dropbtns.length; i++) {
                	if (target !== dropdownContents[i] && target !== dropbtns[i]) {
                        dropdownContents[i].style.display = 'none';
                    }
                }
            });
        	
        	document.querySelector("#vCountAll").parentElement.addEventListener("click", () => {
        		document.querySelector("#vCountAll").focus();
        	});
        	
        	const startDate = document.querySelector("#startDate");
        	const endDate = document.querySelector("#endDate");
        	const rStartDate = document.querySelector("#rStartDate");
        	const rEndDate = document.querySelector("#rEndDate");
        	const startTime = document.querySelector("#startTime");
        	const endTime = document.querySelector("#endTime");
        	
        	const now = new Date();
			const today = now.getFullYear() + "-" + ('0' + (now.getMonth() + 1)).slice(-2) + "-" + ('0' + now.getDate()).slice(-2);
			
			/*<![CDATA[*/
			startDate.setAttribute("min", /*[[${v.vStartDate}]]*/today);
			endDate.setAttribute("min", /*[[${v.vStartDate}]]*/today);
			rStartDate.setAttribute("min", /*[[${v.vRecruitmentStartDate}]]*/today);
			rStartDate.setAttribute("max", /*[[${v.vStartDate}]]*/today);
			rEndDate.setAttribute("min", /*[[${v.vRecruitmentStartDate}]]*/today);
			rEndDate.setAttribute("max", /*[[${v.vEndDate}]]*/today);
			
			createSubCategory(/*[[${v.vMainCategoryName}]]*/);
            subCategoryEvent();
			/*]]>*/
			
        	startDate.addEventListener("change", function() {
        		endDate.setAttribute("min", this.value);
        		rStartDate.setAttribute("max", this.value);
        		rEndDate.setAttribute("max", this.value);
        	});
        	
        	endDate.addEventListener("change", function() {
        		rEndDate.setAttribute("max", this.value);
        	});
        	
        	rStartDate.addEventListener("change", function() {
        		rEndDate.setAttribute("min", this.value);
        		startDate.setAttribute("min", this.value);
        		endDate.setAttribute("min", this.value);
        	});
        	
            const selectAreas = document.getElementsByClassName("selectArea");
            const selectOnOffLines = document.getElementsByClassName("selectOnOffLine");
            const selectObjects = document.getElementsByClassName("selectObject");
            const selectMainCategories = document.getElementsByClassName("selectMainCategory");

            document.getElementById("areabtn").addEventListener("click", () => {
                document.getElementById("area-content").style.display = "block";
            });

            for(const selectArea of selectAreas) {
                selectArea.addEventListener("click", function() {
                    document.getElementById("areabtn").innerText = this.innerText;
                    document.getElementById("area").value = this.innerText;
                    document.getElementById("area-content").style.display = "none";
                });
            }

            document.getElementById("on-offLineBtn").addEventListener("click", () => {
                document.getElementById("onoffLine-content").style.display = "block";
            });

            for(const selectOnOffLine of selectOnOffLines) {
                selectOnOffLine.addEventListener("click", function() {
                    document.getElementById("on-offLineBtn").innerText = this.innerText;
                    document.getElementById("onoffLine").value = this.innerText;
                    document.getElementById("onoffLine-content").style.display = "none";
                });
            }

            document.getElementById("objectBtn").addEventListener("click", () => {
                document.getElementById("object-content").style.display = "block";
            });

            for(const selectObject of selectObjects) {
                selectObject.addEventListener("click", function() {
                    document.getElementById("objectBtn").innerText = this.innerText;
                    document.getElementById("object").value = this.getAttribute("data-value");
                    document.getElementById("object-content").style.display = "none";
                });
            }

            document.getElementById("mainCategoryBtn").addEventListener("click", () => {
                document.getElementById("mainCategory-content").style.display = "block";
            });

            for(const selectMainCategory of selectMainCategories) {
                selectMainCategory.addEventListener("click", function() {
                    document.getElementById("mainCategoryBtn").innerText = this.innerText;
                    document.getElementById("mainCategory").value = this.getAttribute("data-value");
                    document.getElementById("mainCategory-content").style.display = "none";
                    deleteSubCategory();
                    createSubCategory(this.innerText);
                    subCategoryEvent();
                });
            }
			
            const vDays = document.getElementsByClassName("v-day");
            const vDayInput = document.querySelector("#vDay").value;
            for(const vDay of vDays) {
            	if(vDayInput.includes(vDay.innerText)) {
            		vDay.classList.toggle("v-day-select");
            	}
            }
            
            for(const vDay of vDays) {
                vDay.addEventListener("click", function() {
                    this.classList.toggle("v-day-select");
                });
            }
            
            let vDayVal = '';
            let checkAllVal = false;
            document.querySelector("#modifyBtn").addEventListener("click", () => {
            	for(const vDay of vDays) {
                    if(vDay.classList.contains("v-day-select")) {
                    	vDayVal += vDay.innerText + ", ";
                    }
                }
            	vDayVal = vDayVal.substr(0, vDayVal.length - 2);
            	document.querySelector("#vDay").value = vDayVal;
            	if(document.querySelector("#area").value === "none") {
            		alert("지역을 선택해주세요");
            	} else if(vDayVal === '') {
            		alert("요일을 선택해주세요");
            	} else if(document.querySelector("#onoffLine").value === "none") {
            		alert("활동구분을 선택해주세요");	
            	} else if(document.querySelector("#mainCategory").value === "none") {
            		alert("봉사분야를 선택해주세요");
            	} else if(document.querySelector("#subCategory").value === "none") {
            		alert("봉사분야(하위)를 선택해주세요");
            	} else if(document.querySelector("#object").value === "none") {
            		alert("봉사대상을 선택해주세요");
            	} else if(startTime.value > endTime.value) {
            		alert("봉사 시간을 올바르게 설정해주세요");
            	} else {
            		checkAllVal = true;
            	}
            	
            	if(!checkAllVal) {
            		event.preventDefault();
            	}
            	vDayVal = '';
            });
            
            createSubCategory(document.querySelector("#subCategory").value);
            subCategoryEvent();
        }

        const convenienceSupport = ['활동보조', '이동지원', '청결지도', '급식지원', '식사·반찬지원', '기타'];
        const residentalEnvironment = ['주거개선', '마을공동체활동', '기타'];
        const consultation = ['말벗·상담', '전문상담', '기타'];
        const education = ['방과후 교육', '학습지도 교육', '특수교육', '평생교육', '전문교육', '진로체험지도', '기타'];
        const cultureEvent = ['행사보조', '공연활동', '캠페인', '관광안내', '사진촬영', '기타'];
        const environmentalProtection = ['환경정화', '환경감시', '기타'];
        const safetyPevention = ['지역안전', '교통안전', '어린이 안전', '청소년 안전', '취약계층 안전', '안전신고·활동', '기타'];
        const disaster = ['피해복구', '긴급구조', '예방접종지원', '기타'];

        const deleteSubCategory = () => {
            const subCategoryContent = document.getElementById("subCategory-content");
            while (subCategoryContent.firstChild) {
                subCategoryContent.removeChild(subCategoryContent.firstChild);
                document.getElementById("subCategoryBtn").innerText = "선택";
                document.getElementById("subCategory").value = "none";
            }
        }
		
        let subValue = 1;
        const createSubCategory = (category) => {
            let subCateName = '';
            if(category == '생활편의지원') {
                subCateName = convenienceSupport;
                subValue = 1;
            } else if(category == '주거환경') {
                subCateName = residentalEnvironment;
                subValue = 7;
            } else if(category == '상담') {
                subCateName = consultation;
                subValue = 10;
            } else if(category == '교육') {
                subCateName = education;
                subValue = 13;
            } else if(category == '문화행사') {
                subCateName = cultureEvent;
                subValue = 20;
            } else if(category == '환경보호') {
                subCateName = environmentalProtection;
                subValue = 26;
            } else if(category == '안전·예방') {
                subCateName = safetyPevention;
                subValue = 29;
            } else if(category == '재해·재난') {
                subCateName = disaster;
                subValue = 36;
            }
            
            for(let i=0; i < subCateName.length; i++) {
                let spanElement = document.createElement("span");
                spanElement.classList.add("selectSubCategory");
                spanElement.textContent = subCateName[i];
                spanElement.setAttribute("data-value", subValue + i);
                document.getElementById("subCategory-content").appendChild(spanElement);
            }
        }

        const subCategoryEvent = () => {
            let selectSubCategories = document.getElementsByClassName("selectSubCategory");
            for(const selectSubCategory of selectSubCategories) {
                selectSubCategory.addEventListener("click", function() {
                    document.getElementById("subCategoryBtn").innerText = this.innerText;
                    document.getElementById("subCategory").value = this.getAttribute("data-value");
                    document.getElementById("subCategory-content").style.display = "none";
                });
            }

            document.getElementById("subCategoryBtn").addEventListener("click", () => {
                document.getElementById("subCategory-content").style.display = "block";
            });
        } 
    </script>
</body>
</html>