<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>봉사 등록 내역</title>
<link rel="stylesheet" href="css/volunteerEnrollHistory.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>봉사 등록 내역</title>
</head>
<body>
	<div th:replace="~{../common/header :: header}"></div>
	
	<section style="display: flex;">
		<!-- <div th:replace="~{../common/sidebar :: sidebar}"></div> -->
		
		
		<section id="volunteerListSection">
			<div>
				<div id="volunteerList">봉사 등록 내역</div>
			</div>

			<div class="path">
				<a class="middle" href="#"><img class="homeIconSize" src="../image/home.png"></a>
				<img class="sub iconSize" src="../image/onenext.png">
				<a class="middle" href="#">마이페이지</a>
				<img class="sub iconSize" src="../image/onenext.png">
				<a class="middle">봉사 등록 내역</a>
			</div>

			<section class="v-search">
				<div class="v-search-inner">
					<table>
						<tr>
							<td width="15%">작성 기간</td>
							<td width="38%" colspan="2">
								<input type="date" id="WritingStartDate"/><span class="date-delimeter"></span><input type="date" id="WritingStartDate"/>
							</td>
							<td colspan="3">
								<button type="button" class="select-date-btn">3개월</button>
								<button type="button" class="select-date-btn">6개월</button>
								<button type="button" class="select-date-btn">1년</button>
								<button type="button" class="select-date-btn">3년</button>
								<button type="button" class="select-date-btn">5년</button>
								<button type="button" class="select-date-btn">전체</button>
							</td>
						</tr>
						<tr>
							<td>봉사활동 명</td>
							<td colspan="7"><input type="search" id="volunteerName"/></td>
						</tr>
						<tr>
							<td>대분류</td>
							<td width="23%">
								<span class="dropdown" id="mainCategory-dropdown">
									<button class="dropdown-btn" id="mainCategoryBtn">전체</button>
									<input type="hidden" id="mainCategory" name="mainCategory" value="all"/>
									<div class="dropdown-content" id="mainCategory-content">
										<span class="selectMainCategory">전체</span>
										<span class="selectMainCategory">생활편의지원</span>
										<span class="selectMainCategory">주거환경</span>
										<span class="selectMainCategory">상담</span>
										<span class="selectMainCategory">교육</span>
										<span class="selectMainCategory">문화행사</span>
										<span class="selectMainCategory">환경보호</span>
										<span class="selectMainCategory">안전·예방</span>
										<span class="selectMainCategory">재해·재난</span>
									</div>
								</span>
							</td>
							<td width="15%">대상분류</td>
							<td width="23%">
								<span class="dropdown" id="object-dropdown">
									<button class="dropdown-btn" id="objectBtn">전체</button>
									<input type="hidden" id="object" name="object" value="all"/>
									<div class="dropdown-content" id="object-content">
										<span class="selectObject">전체</span>
										<span class="selectObject">아동·청소년</span>
										<span class="selectObject">장애인</span>
										<span class="selectObject">노인</span>
										<span class="selectObject">여성</span>
										<span class="selectObject">환경</span>
										<span class="selectObject">기타</span>
									</div>
								</span> 
							</td>
							<td width="10%">모집</td>
							<td>
								<span class="dropdown" id="recruitment-dropdown">
									<button class="dropdown-btn" id="recruitmentBtn">전체</button>
									<input type="hidden" id="recruitment" name="recruitment" value="all"/>
									<div class="dropdown-content" id="recruitment-content">
										<span class="selectRecruitment">전체</span>
										<span class="selectRecruitment">모집전</span>
										<span class="selectRecruitment">모집중</span>
										<span class="selectRecruitment">모집종료</span>
									</div>
								</span>  
							</td>
						</tr>
					</table>
					<div class="v-search-inner-btn">
						<button id="v-search-btn" class="learn-more">검색</button>
						<button id="v-reset-btn" class="learn-more-gray">초기화</button>
					</div>
				</div>
			</section>

			<table class="v-history-table">
				<thead>
					<tr>
						<th width="30%">봉사활동 명</th>
						<th width="15%">대분류</th>
						<th width="15%">대상분류</th>
						<th width="10%">모집일</th>
						<th width="8%">인원</th>
						<th width="10%">작성일</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td>오산시 함께자람센터...</td>
							<td>교육</td>
							<td>아동·청소년</td>
							<td>23.06.09~23.06.09</td>
							<td>0/20</td>
							<td>23.06.09</td>
						</tr>
						<tr>
							<td>오산시 함께자람센터...</td>
							<td>생활편의지원</td>
							<td>아동·청소년</td>
							<td>23.06.09~23.06.09</td>
							<td>0/20</td>
							<td>23.06.09</td>
						</tr>
						<tr>
							<td>오산시 함께자람센터...</td>
							<td>생활편의지원</td>
							<td>아동·청소년</td>
							<td>23.06.09~23.06.09</td>
							<td>0/20</td>
							<td>23.06.09</td>
						</tr>
						<tr>
							<td>오산시 함께자람센터...</td>
							<td>생활편의지원</td>
							<td>아동·청소년</td>
							<td>23.06.09~23.06.09</td>
							<td>0/20</td>
							<td>23.06.09</td>
						</tr>
						<tr>
							<td>오산시 함께자람센터...</td>
							<td>생활편의지원</td>
							<td>아동·청소년</td>
							<td>23.06.09~23.06.09</td>
							<td>0/20</td>
							<td>23.06.09</td>
						</tr>
						<tr>
							<td>오산시 함께자람센터...</td>
							<td>생활편의지원</td>
							<td>아동·청소년</td>
							<td>23.06.09~23.06.09</td>
							<td>0/20</td>
							<td>23.06.09</td>
						</tr>
						<tr>
							<td>오산시 함께자람센터...</td>
							<td>생활편의지원</td>
							<td>아동·청소년</td>
							<td>23.06.09~23.06.09</td>
							<td>20/20</td>
							<td>23.06.09</td>
						</tr>
						<tr>
							<td>오산시 함께자람센터...</td>
							<td>생활편의지원</td>
							<td>아동·청소년</td>
							<td>23.06.09~23.06.09</td>
							<td>20/20</td>
							<td>23.06.09</td>
						</tr>
						<tr>
							<td>오산시 함께자람센터...</td>
							<td>생활편의지원</td>
							<td>아동·청소년</td>
							<td>23.06.09~23.06.09</td>
							<td>20/20</td>
							<td>23.06.09</td>
						</tr>
						<tr>
							<td>오산시 함께자람센터...</td>
							<td>생활편의지원</td>
							<td>아동·청소년</td>
							<td>23.06.09~23.06.09</td>
							<td>20/20</td>
							<td>23.06.09</td>
						</tr>
						
				</tbody>
			</table>
			
			<div class="page">
				<ul class="pagination">
					<li><a href="#" class="first"><img class="arrowKey" src="../image/before.png"></a></li>
					<li><a href="#" class="num">1</a></li>
					<li><a href="#" class="num">2</a></li>
					<li><a href="#" class="num">3</a></li>
					<li><a href="#" class="num">4</a></li>
					<li><a href="#" class="num">5</a></li>
					<li><a href="#" class="last"><img class="arrowKey" src="../image/next.png"></a></li>
				</ul>
			</div>
		</section>
	</section>
	<script>
		window.onload = () => {
			const selectObjects = document.getElementsByClassName("selectObject");
            const selectMainCategories = document.getElementsByClassName("selectMainCategory");
            const selectRecruitments = document.getElementsByClassName("selectRecruitment");

			document.getElementById("objectBtn").addEventListener("click", function() {
                document.getElementById("object-content").style.display = "block";
				this.style.border = "2px solid #556b4e";
            });

            for(const selectObject of selectObjects) {
                selectObject.addEventListener("click", function() {
                    document.getElementById("objectBtn").innerText = this.innerText;
                    document.getElementById("object").value = this.innerText;
                    document.getElementById("object-content").style.display = "none";
					document.getElementById("objectBtn").style.border = "none";
                });
            }

            document.getElementById("mainCategoryBtn").addEventListener("click", function() {
                document.getElementById("mainCategory-content").style.display = "block";
				this.style.border = "2px solid #556b4e";
            });

            for(const selectMainCategory of selectMainCategories) {
                selectMainCategory.addEventListener("click", function() {
                    document.getElementById("mainCategoryBtn").innerText = this.innerText;
                    document.getElementById("mainCategory").value = this.innerText;
                    document.getElementById("mainCategory-content").style.display = "none";
					document.getElementById("mainCategoryBtn").style.border = "none";
                });
            }

			document.getElementById("recruitmentBtn").addEventListener("click", function() {
                document.getElementById("recruitment-content").style.display = "block";
				this.style.border = "2px solid #556b4e";
            });

            for(const selectRecruitment of selectRecruitments) {
                selectRecruitment.addEventListener("click", function() {
                    document.getElementById("recruitmentBtn").innerText = this.innerText;
                    document.getElementById("recruitment").value = this.innerText;
                    document.getElementById("recruitment-content").style.display = "none";
					document.getElementById("recruitmentBtn").style.border = "none";
                });
            }
		}
	</script>
</body>
</html>