<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>봉사 내역</title>
	<link rel="stylesheet" href="css/volunteer/volunteerHistory.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div th:replace="~{../common/header :: header}"></div>
	
	<section style="display: flex;">
		<div th:replace="~{../common/sidebar :: sidebar}"></div>
		
		
		<section id="volunteerListSection">
			<div>
				<div id="volunteerList">봉사 내역</div>
			</div>

			<div class="path">
				<a class="middle" href="#"><img class="homeIconSize" src="../image/home.png"></a>
				<img class="sub iconSize" src="../image/onenext.png">
				<a class="middle" href="#">마이페이지</a>
				<img class="sub iconSize" src="../image/onenext.png">
				<a class="middle">봉사 내역</a>
				<div style="font-size: 14px; color: gray; float: right; margin-top: 40px;">초기화 후 검색 버튼을 클릭해야 적용됩니다.</div>
			</div>

			<section class="v-search" style="margin-top: 5px">
				<div class="v-search-inner">
					<form action="searchMyVolunteerHistory.vo">
						<table>
							<tr>
								<td width="20%">봉사활동 기간</td>
								<td>
									<input type="date" id="startDate" name="startDate" th:value="${searchMap == null ? '' : searchMap.startDate}"/><span class="date-delimeter"></span><input type="date" id="endDate" name="endDate" th:value="${searchMap == null ? '' : searchMap.endDate}"/>
								</td>
								<td colspan="2">
									<button type="button" class="select-date-btn" data-value="3">3개월</button>
									<button type="button" class="select-date-btn" data-value="6">6개월</button>
									<button type="button" class="select-date-btn" data-value="12">1년</button>
									<button type="button" class="select-date-btn" data-value="36">3년</button>
									<button type="button" class="select-date-btn" data-value="60">5년</button>
									<button type="button" class="select-date-btn" data-value="all">전체</button>
								</td>
							</tr>
							<tr>
								<td>봉사활동 명</td>
								<td style="position: relative; height: 30px"><input type="text" id="vName" name="vName" th:value="${searchMap == null ? '' : searchMap.vName}"/><button type="button" class="btnClear"></button></td>
								<td width="90px">지역</td>
								<td>
									<span class="dropdown" id="area-dropdown">
										<button type="button" class="dropdown-btn" id="areabtn">전체</button>
										<input type="hidden" id="area" name="vArea" value="전체"/>
										<div class="dropdown-content" id="area-content">
											<span class="selectArea">전체</span>
											<span class="selectArea">서울</span>
											<span class="selectArea">세종</span>
											<span class="selectArea">경기</span>
											<span class="selectArea">인천</span>
											<span class="selectArea">부산</span>
											<span class="selectArea">광주</span>
											<span class="selectArea">울산</span>
											<span class="selectArea">대전</span>
											<span class="selectArea">대구</span>
											<span class="selectArea">충청</span>
											<span class="selectArea">강원</span>
											<span class="selectArea">경상</span>
											<span class="selectArea">전라</span>
											<span class="selectArea">제주</span>
										</div>
									</span>  
								</td>
							</tr>
							<tr>
								<td>수요처</td>
								<td style="position: relative; height: 30px"><input type="text" id="registrar" name="registrar" th:value="${searchMap == null ? '' : searchMap.registrar}"/><button type="button" class="btnClear"></button></td>
								<td>상태</td>
								<td>
									<span class="dropdown" id="status-dropdown">
										<button type="button" class="dropdown-btn" id="statusbtn">전체</button>
										<input type="hidden" id="status" name="status" value="전체"/>
										<div class="dropdown-content" id="status-content">
											<span class="selectStatus">전체</span>
											<span class="selectStatus">신청</span>
											<span class="selectStatus">진행</span>
											<span class="selectStatus">종료</span>
										</div>
									</span>  
								</td>
							</tr>
						</table>
						<div class="v-search-inner-btn">
							<button type="submit" id="v-search-btn" class="learn-more">검색</button>
							<button type="button" id="v-reset-btn" class="learn-more-gray">초기화</button>
						</div>
					</form>
				</div>
			</section>
			
			<div style="width:900px;">
				<div>
					<div style="text-align: right; font-size: 14px; color: gray; margin-top: 30px;">기간 선택 시 <span style="color: #4f9739; font-weight: bold;">종료된 봉사</span>만 확인할 수 있습니다.</div>
				</div>
			</div>

			<table class="v-history-table" style="margin-top: 5px;">
				<thead>
					<tr>
						<th width="40%">봉사활동 명</th>
						<th width="8%">지역</th>
						<th width="17%">수요처</th>
						<th width="15%">봉사활동 기간</th>
						<th width="13%">신청일</th>
						<th width="7%">상태</th>
					</tr>
				</thead>
				<tbody style="font-size: 14px;">
					<tr th:if="${vHistories.isEmpty()}">
						<td colspan="8" style="padding: 50px; font-size: 15px; pointer-events: none;">조회 결과가 없습니다.</td>
					</tr>
					<tr th:each="v : ${vHistories}">
						<input type="hidden" th:value="${v.vNo}"/>
						<td th:text="${v.vName}"></td>
						<td th:text="${v.vArea}"></td>
						<td th:text="${v.registrar}"></td>
						<td>[[${#strings.substring(#strings.arraySplit(v.vStartDate, "-")[0], 2)}]].[[${#strings.arraySplit(v.vStartDate, "-")[1]}]].[[${#strings.arraySplit(v.vStartDate, "-")[2]}]]~[[${#strings.substring(#strings.arraySplit(v.vEndDate, "-")[0], 2)}]].[[${#strings.arraySplit(v.vEndDate, "-")[1]}]].[[${#strings.arraySplit(v.vEndDate, "-")[2]}]]</td>
						<td th:text="${v.vHisDate}"></td>
						<td class="v-status"></td>
					</tr>
				</tbody>
			</table>
			
			<div class="page">
				<ul class="pagination">
					<th:block th:if="${searchMap == null}">
		                <li th:if="${ pi.currentPage > 1 }">
			                <a class="first" th:href="@{${loc}(page=${ pi.currentPage -1 })}">
			                	<img class="arrowKey" src="image/before.png">
			                </a>
		                </li>
		                <li th:unless="${ pi.currentPage > 1 }">
			                	<img class="arrowKey disabled" src="image/before.png">
		                </li>
		                
		                <li th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage)}">
		                	<th:block th:if="${p != 0}">
		                	<a th:href="@{${loc}(page=${p})}" th:text="${p}"
		                		th:class="${p == pi.currentPage} ? 'num currentPage' : 'num'"></a>
		                	</th:block>
		                </li>
		                
		                <li th:if="${ pi.currentPage < pi.maxPage} ">
			                <a class="last" th:href="@{${loc}(page=${ pi.currentPage + 1 })}">
			                	<img class="arrowKey" src="image/next.png">
			                </a>
		                </li>
		                <li th:unless="${ pi.currentPage < pi.maxPage }">
			                	<img class="arrowKey disabled" src="image/next.png">
		                </li>
	                </th:block>
	                
	                <th:block th:unless="${searchMap == null}">
		                <li th:if="${ pi.currentPage > 1 }">
			                <a class="first" th:href="@{${loc}(page=${ pi.currentPage -1 }, startDate=${searchMap.startDate}, endDate=${searchMap.endDate}, vName=${searchMap.vName}, vArea=${searchMap.vArea}, registrar=${searchMap.registrar}, status=${searchMap.status})}">
			                	<img class="arrowKey" src="image/before.png">
			                </a>
		                </li>
		                <li th:unless="${ pi.currentPage > 1 }">
			                	<img class="arrowKey disabled" src="image/before.png">
		                </li>
		                
		                <li th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage)}">
		                	<th:block th:if="${p != 0}">
		                	<a th:href="@{${loc}(page=${p}, startDate=${searchMap.startDate}, endDate=${searchMap.endDate}, vName=${searchMap.vName}, vArea=${searchMap.vArea}, registrar=${searchMap.registrar}, status=${searchMap.status})}" th:text="${p}" th:class="${p == pi.currentPage} ? 'num currentPage' : 'num'"></a>
		                	</th:block>
		                </li>
		                
		                <li th:if="${ pi.currentPage < pi.maxPage} ">
			                <a class="last" th:href="@{${loc}(page=${ pi.currentPage + 1 }, startDate=${searchMap.startDate}, endDate=${searchMap.endDate}, vName=${searchMap.vName}, vArea=${searchMap.vArea}, registrar=${searchMap.registrar}, status=${searchMap.status})}">
			                	<img class="arrowKey" src="image/next.png">
			                </a>
		                </li>
		                <li th:unless="${ pi.currentPage < pi.maxPage }">
			                	<img class="arrowKey disabled" src="image/next.png">
		                </li>
	                </th:block>
				</ul>
			</div>
		</section>
	</section>
	
	<div th:replace="~{../common/footer :: footer}"></div>  
	
	<script th:inline="javascript">
		window.onload = () => {
			const now = new Date();
			const today = now.getFullYear() + "-" + ('0' + (now.getMonth() + 1)).slice(-2) + "-" + ('0' + now.getDate()).slice(-2);
			
			const startDate = document.querySelector("#startDate");
            const endDate = document.querySelector("#endDate");
            const selectDateBtns = document.querySelectorAll(".select-date-btn");
            
            document.querySelector("#v-reset-btn").addEventListener("click", () => {
            	startDate.value = "";
            	endDate.value = "";
            	document.getElementById("vName").value = "";
            	document.getElementById("areabtn").innerText = "전체";
                document.getElementById("area").value = "전체";
                document.getElementById("statusbtn").innerText = "전체";
                document.getElementById("status").value = "전체";
                document.getElementById("registrar").value = "";
            });
            
            startDate.addEventListener("change", function() {
            	endDate.setAttribute("min", this.value);
            });
            
            endDate.addEventListener("change", function() {
            	startDate.setAttribute("max", this.value);
            });
            
            for(const selectDateBtn of selectDateBtns) {
            	selectDateBtn.addEventListener("click", function() {
	            	const data = this.getAttribute("data-value");
					if(data == "all") {
						startDate.value = "";
						endDate.value = "";
					} else {
						const date = new Date(new Date().setMonth(now.getMonth() - data));
						const changedDate = date.getFullYear() + "-" + ('0' + (date.getMonth() + 1)).slice(-2) + "-" + ('0' + date.getDate()).slice(-2);
						startDate.value = changedDate;
						endDate.value = today;
					}        	
            	});
            }
			
			const dropdownBtns = document.querySelectorAll(".dropdown-btn");
			/*<![CDATA[*/
			const vHistories = /*[[${vHistories}]]*/null;
			if(vHistories != null) {
				const statusTds = document.querySelectorAll('.v-status');
	    		for(let i=0; i<statusTds.length; i++) {
	    			if(vHistories[i].vStartDate <= today && vHistories[i].vEndDate >= today) {
		    			statusTds[i].innerText = '진행';
		    		} else if(vHistories[i].vStartDate > today) {
		    			statusTds[i].innerText = '신청';
		    		}else {
		    			statusTds[i].innerText = '종료';
		    		}
	    		}
			}
    		
	    	const searchMap = /*[[${searchMap}]]*/null;
	    	if(searchMap != null) {
	    		if(searchMap.vArea == '') {
	    			searchMap.vArea = "전체";
	    		} 
	    		if(searchMap.status == '') {
	    			searchMap.status = "전체";
	    		}
	    		dropdownBtns[0].innerText = searchMap.vArea;
	    		dropdownBtns[0].parentElement.querySelector("input").value = searchMap.vArea;
	    		dropdownBtns[1].innerText = searchMap.status;
	    		dropdownBtns[1].parentElement.querySelector("input").value = searchMap.status;
	    	}
		    /*]]>*/
		    
			document.addEventListener('click', (event) => {
                const target = event.target;
                const dropdownContents = document.querySelectorAll('.dropdown-content');
                for(let i=0; i<dropdownBtns.length; i++) {
                	if (target !== dropdownContents[i] && target !== dropdownBtns[i]) {
                        dropdownContents[i].style.display = 'none';
                        dropdownBtns[i].style.border = "none";
                    }
                }
            });
		    
			const btnClears = document.querySelectorAll(".btnClear");
			for(const btnClear of btnClears) {
		    	btnClear.addEventListener("click", function() {
		    		this.previousElementSibling.value = "";
		    	});
			}
		    
			const selectAreas = document.getElementsByClassName("selectArea");
			const selectStatuses = document.getElementsByClassName("selectStatus");

			document.getElementById("areabtn").addEventListener("click", function() {
				document.getElementById("area-content").style.display = "block";
				this.style.border = "2px solid #556b4e";
			});

			for(const selectArea of selectAreas) {
				selectArea.addEventListener("click", function() {
					document.getElementById("areabtn").innerText = this.innerText;
					document.getElementById("area").value = this.innerText;
					document.getElementById("area-content").style.display = "none";
					document.getElementById("areabtn").style.border = "none";
				});
			}	

			document.getElementById("statusbtn").addEventListener("click", function() {
				document.getElementById("status-content").style.display = "block";
				this.style.border = "2px solid #556b4e";
			});

			for(const selectStatus of selectStatuses) {
				selectStatus.addEventListener("click", function() {
					document.getElementById("statusbtn").innerText = this.innerText;
					document.getElementById("status").value = this.innerText;
					document.getElementById("status-content").style.display = "none";
					document.getElementById("statusbtn").style.border = "none";
				});
			}	
			
			const tbody = document.querySelector(".v-history-table").querySelector("tbody");
			const tds = tbody.querySelectorAll("td");
			for(const td of tds) {
				td.addEventListener("click", function() {
					const vNo = this.parentElement.children[0].value;
					location.href="volunteerDetail.vo?vNo=" + vNo; 
				});
			}
		}
	</script>
</body>
</html>