<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fin.proj.member.model.dao.MemberDAO">
	
	<select id="login" resultMap="memberResultSet">
		select *
		from users
		where u_id = #{uId} and u_status = 'Y'
	</select>
	
	<resultMap type="Member" id="memberResultSet">
		<id column="U_NO" property="uNo" />		
		<result column="U_ID" property="uId" />
		<result column="U_PWD" property="uPwd" />
		<result column="U_NAME" property="uName" />
		<result column="RESIDENT_NO" property="residentNo" />
		<result column="ADDRESS" property="address" />
		<result column="PHONE" property="phone" />
		<result column="EMAIL" property="email" />
		<result column="U_NICKNAME" property="uNickName" />
		<result column="LOGIN_TYPE" property="loginType" />
		<result column="KAKAO_ID" property="kakaoId" />
		<result column="U_STATUS" property="uStatus" />
		<result column="U_TYPE" property="uType" />
		<result column="REGISTRAR" property="registrar" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="IS_ADMIN" property="isAdmin" />
	</resultMap>
	
	<insert id="insertUser">
		insert into users
		values(seq_uid.nextval, #{uId}, #{uPwd}, #{uName}, #{residentNo}, #{address}, #{phone}, #{email},
				#{uNickName}, default, null, default, #{uType}, #{registrar}, sysdate, default)
	</insert>
	
	<select id="checkId" resultType="_int">
		select count(*)
		from users
		where u_id = #{uId}
	</select>
	
	<select id="checkNickName" resultType="_int">
		select count(*)
		from users
		where u_NickName = #{uNickName}
	</select>
	
	<update id="updateMyInfo">
		update users
		set u_name = #{uName}, u_type = #{uType}, registrar = #{registrar}, resident_no = #{residentNo},
			address = #{address}, phone = #{phone}, email = #{email}, u_nickname = #{uNickName}
		where u_id = #{uId}
	</update>
	
	<update id="deleteUser">
		update users
		set u_status = 'N'
		where u_id = #{uId}
	</update>
</mapper>