<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fin.proj.support.model.dao.SupportDAO">
	
	<insert id="supportApply">
		insert into support values(SEQ_SUID.NEXTVAL, #{userNo}, #{supportCategory}, #{supportTitle}, #{supportContent}, sysdate, #{startDate}, #{endDate}, #{targetAmount}, 0, default, default)
	</insert>
	
	<insert id="insertSupportDetail">
		insert into supportdetail values(SEQ_SDID.NEXTVAL, #{supportDetailContent}, #{supportDetailAmount}, seq_suid.currval)
	</insert>
	
	<select id="selectApplayListUser" resultMap="supportResultSet">
		select * from support join users using(u_no) where u_no = #{uNo}
	</select>
	
	<resultMap type="Support" id="supportResultSet">
		<id column="S_NO" property="supportNo" />		
		<result column="U_NO" property="userNo" />
		<result column="S_CATEGORY" property="supportCategory" />
		<result column="S_TITLE" property="supportTitle" />
		<result column="S_CONTENT" property="supportContent" />
		<result column="S_CREATE_DATE" property="createDate" />
		<result column="S_START_DATE" property="startDate" />
		<result column="S_END_DATE" property="endDate" />
		<result column="TARGET_AMOUNT" property="targetAmount" />
		<result column="FUND_AMOUNT" property="fundAmount" />
		<result column="S_COUNT" property="supportCount" />
		<result column="S_STATUS" property="status" />
		<result column="PHONE" property="phone" />
		<result column="EMAIL" property="email" />
		<result column="REGISTRAR" property="registar" />
		<result column="U_ID" property="userId" />
		<result column="ENROLL_DATE" property="enrollDate" />
	</resultMap>
	
	
	<resultMap type="SupportDetail" id="supportDetailResultSet">
		<id column="S_DETAIL_NO" property="supportDetailNo" />		
		<result column="S_DETAIL_CONTENT" property="supportDetailContent" />
		<result column="S_DETAIL_AMOUNT" property="supportDetailAmount" />
		<result column="S_NO" property="supportNo" />
	</resultMap>
	
	<select id="supportDetail" resultMap="supportResultSet">
		select * from support join users using(u_no) where s_no = #{supportNo}
	</select>
	
	<select id="supportUsageDetail" resultMap="supportDetailResultSet">
		select * from supportdetail where s_no = #{supportNo}
	</select>
	
	<select id="getListCount" resultType="_int">
		select count(*) from support where s_status = 'Y' 
	</select>
	
	<select id="selectSupportList" resultMap="supportResultSet">
		select * from support join users using(u_no) where s_status = 'Y'
	</select>
	
	<select id="getWListCount" resultType="_int">
		select count(*) from support where s_status = 'W' or s_status = 'N'
	</select>
	
	<select id="selectApplyList" resultMap="supportResultSet">
		select * from support join users using(u_no) where s_status='W' or s_status ='N' order by S_CREATE_DATE desc
	</select>
	<select id="getDListCount" resultType="_int">
		select count(*) from support where s_status = #{devision}
	</select>
	
	<select id="selectApplyDevision" resultMap="supportResultSet">
		select * from support join users using(u_no) where s_status= #{devision} order by S_CREATE_DATE desc
	</select>
	
</mapper>