<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fin.proj.volunteer.model.dao.VolunteerDAO">

	<resultMap type="Volunteer" id="volunteerResultSet">
		<id column="V_NO" property="vNo"/>
		<result column="U_NO" property="uNo"/>
		<result column="REGISTRAR" property="registrar"/>
		<result column="V_MAIN_CATEGORY_NO" property="vMainCategoryNo"/>
		<result column="V_SUB_CATEGORY_NO" property="vSubCategoryNo"/>
		<result column="V_TARGET_CATEGORY_NO" property="vTargetCategoryNo"/>
		<result column="V_MAIN_CATEGORY_NAME" property="vMainCategoryName"/>
		<result column="V_SUB_CATEGORY_NAME" property="vSubCategoryName"/>
		<result column="V_TARGET_CATEGORY_NAME" property="vTargetCategoryName"/>
		<result column="V_AREA" property="vArea"/>
		<result column="V_NAME" property="vName"/>
		<result column="V_CONTENT" property="vContent"/>
		<result column="V_START_DATE" property="vStartDate"/>
		<result column="V_END_DATE" property="vEndDate"/>
		<result column="V_START_TIME" property="vStartTime"/>
		<result column="V_END_TIME" property="vEndTime"/>
		<result column="V_RECRUITMENT_START_DATE" property="vRecruitmentStartDate"/>
		<result column="V_RECRUITMENT_END_DATE" property="vRecruitmentEndDate"/>
		<result column="V_DAY" property="vDay"/>
		<result column="V_COUNTALL" property="vCountAll"/>
		<result column="V_COUNT" property="vCount"/>
		<result column="V_LOCATION" property="vLocation"/>
		<result column="V_ACTIVITY_TYPE" property="vActivityType"/>
		<result column="V_CREATE_DATE" property="vCreateDate"/>
		<result column="V_STATUS" property="vStatus"/>
		<result column="V_CHARGE_NAME" property="vChargeName"/>
		<result column="V_CHARGE_PHONE" property="vChargePhone"/>
		<result column="V_HIS_DATE" property="vHisDate"/>
	</resultMap>
	
	<insert id="insertVolunteer">
		insert into volunteer values(SEQ_VOID.NEXTVAL, #{uNo}, #{vMainCategoryNo}, #{vSubCategoryNo}, #{vTargetCategoryNo}, #{vArea}, #{vName}, #{vContent}, #{vStartDate}, #{vEndDate},
		#{vStartTime}, #{vEndTime}, #{vRecruitmentStartDate}, #{vRecruitmentEndDate}, #{vDay}, #{vCountAll}, default, #{vLocation}, #{vActivityType}, default, default, #{vChargeName}, #{vChargePhone})
	</insert>
	
	<select id="getVolunteerCount" resultType="_int">
		<![CDATA[
			select count(*)
			from volunteer
			where v_status='Y' 
				  and to_date(v_recruitment_start_date) <= to_date(to_char(sysdate, 'yyyy-mm-dd'))
				  and to_date(v_recruitment_end_date) >= to_date(to_char(sysdate, 'yyyy-mm-dd'))
		]]>
	</select>
	
	<select id="selectVolunteerList" resultMap="volunteerResultSet">
		<![CDATA[
			select * 
			from volunteer
				 join users using(u_no)
				 join v_main_category using(v_main_category_no)
				 join v_sub_category using(v_sub_category_no)
				 join v_target_category using(v_target_category_no)
			where v_status='Y'
				  and to_date(v_recruitment_start_date) <= to_date(to_char(sysdate, 'yyyy-mm-dd'))
				  and to_date(v_recruitment_end_date) >= to_date(to_char(sysdate, 'yyyy-mm-dd'))
			order by v_no desc
		]]>
	</select>
	
	<select id="selectVolunteer" resultMap="volunteerResultSet">
		<![CDATA[
			select * 
			from volunteer
				 join users using(u_no)
				 join v_main_category using(v_main_category_no)
				 join v_sub_category using(v_sub_category_no)
				 join v_target_category using(v_target_category_no)
			where v_status='Y' 
				  and v_no = #{vNo}
		]]>
	</select>
	
	<update id="updateVolunteer">
		update volunteer
		set V_MAIN_CATEGORY_NO = #{vMainCategoryNo}, V_SUB_CATEGORY_NO = #{vSubCategoryNo}, V_TARGET_CATEGORY_NO = #{vTargetCategoryNo},
			V_AREA = #{vArea}, V_NAME = #{vName}, V_CONTENT = #{vContent}, V_START_DATE = #{vStartDate}, V_END_DATE = #{vEndDate},
			V_START_TIME = #{vStartTime}, V_END_TIME = #{vEndTime}, V_RECRUITMENT_START_DATE = #{vRecruitmentStartDate}, V_RECRUITMENT_END_DATE = #{vRecruitmentEndDate},
			V_DAY = #{vDay}, V_COUNTALL = #{vCountAll}, V_LOCATION = #{vLocation}, V_ACTIVITY_TYPE = #{vActivityType}, V_CHARGE_NAME = #{vChargeName}, V_CHARGE_PHONE = #{vChargePhone}
		where v_no = #{vNo}
	</update>
	
	<update id="deleteVolunteer">
		update volunteer
		set v_status = 'N'
		where v_no = #{vNo}
	</update>
	
	<insert id="applyVolunteer">
		insert into v_history values(SEQ_VHISID.NEXTVAL, #{uNo}, #{vNo}, default, default)
	</insert>
	
	<select id="checkVolunteerApply" resultType="_int">
		select count(*)
		from v_history
		where v_no = #{vNo} and u_no = #{uNo}
	</select>
	
	<select id="searchVolunteerCount" resultType="_int">
		select count(*)
		from volunteer
			 join users using(u_no)
			 join v_main_category using(v_main_category_no)
			 join v_sub_category using(v_sub_category_no)
			 join v_target_category using(v_target_category_no)
		where v_status='Y'
		<if test="vArea != null and !vArea.equals('')">
			and v_area like '%' || #{vArea} || '%'
		</if>
		<if test="vMainCategoryName != null and !vMainCategoryName.equals('')">
			and v_main_category_name like '%' || #{vMainCategoryName} || '%'
		</if>
		<if test="vActivityType != null and !vActivityType.equals('')">
			and v_activity_type like '%' || #{vActivityType} || '%'
		</if>
		<if test="vTargetCategoryName != null and !vTargetCategoryName.equals('')">
			and v_target_category_name like '%' || #{vTargetCategoryName} || '%'
		</if>
		<if test="status != null and !status.equals('')">
			<if test="status.equals('모집전')">
				<![CDATA[and to_date(v_recruitment_start_date) > to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
			</if>
			<if test="status.equals('모집중')">
				<![CDATA[and to_date(v_recruitment_start_date) <= to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
				<![CDATA[and to_date(v_recruitment_end_date) >= to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
			</if>
			<if test="status.equals('모집종료')">
				<![CDATA[and to_date(v_recruitment_end_date) < to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
			</if>
		</if>
		<if test="vName != null and !vName.equals('')">
			and v_name like '%' || #{vName} || '%'
		</if>
		<if test="registrar != null and !registrar.equals('')">
			and registrar like '%' || #{registrar} || '%'
		</if>
		<if test="vStartDate != null and !vStartDate.equals('')">
			and <![CDATA[to_date(to_char(v_start_date, 'yyyy-mm-dd')) >= #{vStartDate}]]>
		</if>
		<if test="vEndDate != null and !vEndDate.equals('')">
			and <![CDATA[to_date(to_char(v_end_date, 'yyyy-mm-dd')) <= #{vEndDate}]]>
		</if>
	</select>
	
	<select id="searchVolunteer" resultMap="volunteerResultSet">
		select *
		from volunteer
			 join users using(u_no)
			 join v_main_category using(v_main_category_no)
			 join v_sub_category using(v_sub_category_no)
			 join v_target_category using(v_target_category_no)
		where v_status='Y'
		<if test="vArea != null and !vArea.equals('')">
			and v_area like '%' || #{vArea} || '%'
		</if>
		<if test="vMainCategoryName != null and !vMainCategoryName.equals('')">
			and v_main_category_name like '%' || #{vMainCategoryName} || '%'
		</if>
		<if test="vActivityType != null and !vActivityType.equals('')">
			and v_activity_type like '%' || #{vActivityType} || '%'
		</if>
		<if test="vTargetCategoryName != null and !vTargetCategoryName.equals('')">
			and v_target_category_name like '%' || #{vTargetCategoryName} || '%'
		</if>
		<if test="status != null and !status.equals('')">
			<if test="status.equals('모집전')">
				<![CDATA[and to_date(v_recruitment_start_date) > to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
			</if>
			<if test="status.equals('모집중')">
				<![CDATA[and to_date(v_recruitment_start_date) <= to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
				<![CDATA[and to_date(v_recruitment_end_date) >= to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
			</if>
			<if test="status.equals('모집종료')">
				<![CDATA[and to_date(v_recruitment_end_date) < to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
			</if>
		</if>
		<if test="vName != null and !vName.equals('')">
			and v_name like '%' || #{vName} || '%'
		</if>
		<if test="registrar != null and !registrar.equals('')">
			and registrar like '%' || #{registrar} || '%'
		</if>
		<if test="vStartDate != null and !vStartDate.equals('')">
			and <![CDATA[to_date(to_char(v_start_date, 'yyyy-mm-dd')) >= #{vStartDate}]]>
		</if>
		<if test="vEndDate != null and !vEndDate.equals('')">
			and <![CDATA[to_date(to_char(v_end_date, 'yyyy-mm-dd')) <= #{vEndDate}]]>
		</if>
		order by v_no desc
	</select>
	
	<select id="getMyVolunteerHistoryCount" resultType="_int">
		select count(*)
		from volunteer
			 join users using(u_no)
			 join v_main_category using(v_main_category_no)
			 join v_sub_category using(v_sub_category_no)
			 join v_target_category using(v_target_category_no)
			 join v_history using(v_no)
		where v_history.u_no = #{uNo} 
	</select>
		
	<select id="selectMyVolunteerHistory" resultMap="volunteerResultSet">
		select *
		from volunteer
			 join users using(u_no)
			 join v_main_category using(v_main_category_no)
			 join v_sub_category using(v_sub_category_no)
			 join v_target_category using(v_target_category_no)
			 join v_history using(v_no)
		where v_history.u_no = #{uNo} 
		order by v_his_no desc
	</select>
	
	<select id="getSearchMyVolunteerHistoryCount" resultType="_int">
		select count(*)
		from volunteer
			 join users using(u_no)
			 join v_main_category using(v_main_category_no)
			 join v_sub_category using(v_sub_category_no)
			 join v_target_category using(v_target_category_no)
			 join v_history using(v_no)
		where v_history.u_no = #{uNo} 
		<if test="startDate != null and !startDate.equals('')">
			 and <![CDATA[to_date(to_char(v_start_date, 'yyyy-mm-dd')) >= #{startDate}]]>
		</if>
		<if test="endDate != null and !endDate.equals('')">
			 and <![CDATA[to_date(to_char(v_end_date, 'yyyy-mm-dd')) <= #{endDate}]]>
		</if>
		<if test="vName != null and !vName.equals('')">
			and v_name like '%${vName}%' 
		</if>
		<if test="vArea != null and !vArea.equals('')">
			 and v_area like '%${vArea}%'
		</if>
		<if test="registrar != null and !registrar.equals('')">
			 and registrar like '%${registrar}%'
		</if>
		<if test="status != null and !status.equals('') and status.equals('신청')">
			and <![CDATA[to_date(to_char(v_start_date, 'yyyy-mm-dd')) > to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
		</if>
		<if test="status != null and !status.equals('') and status.equals('진행')">
			and <![CDATA[to_date(to_char(v_start_date, 'yyyy-mm-dd')) <= to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
			and <![CDATA[to_date(to_char(v_end_date, 'yyyy-mm-dd')) >= to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
		</if>
		<if test="status != null and !status.equals('') and status.equals('종료')">
			and <![CDATA[to_date(to_char(v_end_date, 'yyyy-mm-dd')) < to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
		</if>
		order by v_his_no desc
	</select>
	
	<select id="selectSearchMyVolunteerHistory" resultMap="volunteerResultSet">
		select *
		from volunteer
			 join users using(u_no)
			 join v_main_category using(v_main_category_no)
			 join v_sub_category using(v_sub_category_no)
			 join v_target_category using(v_target_category_no)
			 join v_history using(v_no)
		where v_history.u_no = #{uNo} 
		<if test="startDate != null and !startDate.equals('')">
			 and <![CDATA[to_date(to_char(v_start_date, 'yyyy-mm-dd')) >= #{startDate}]]>
		</if>
		<if test="endDate != null and !endDate.equals('')">
			 and <![CDATA[to_date(to_char(v_end_date, 'yyyy-mm-dd')) <= #{endDate}]]>
		</if>
		<if test="vName != null and !vName.equals('')">
			and v_name like '%${vName}%' 
		</if>
		<if test="vArea != null and !vArea.equals('')">
			 and v_area like '%${vArea}%'
		</if>
		<if test="registrar != null and !registrar.equals('')">
			 and registrar like '%${registrar}%'
		</if>
		<if test="status != null and !status.equals('') and status.equals('신청')">
			and <![CDATA[to_date(to_char(v_start_date, 'yyyy-mm-dd')) > to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
		</if>
		<if test="status != null and !status.equals('') and status.equals('진행')">
			and <![CDATA[to_date(to_char(v_start_date, 'yyyy-mm-dd')) <= to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
			and <![CDATA[to_date(to_char(v_end_date, 'yyyy-mm-dd')) >= to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
		</if>
		<if test="status != null and !status.equals('') and status.equals('종료')">
			and <![CDATA[to_date(to_char(v_end_date, 'yyyy-mm-dd')) < to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
		</if>
		order by v_his_no desc
	</select>
	
	<!-- 관리자 -->
	<select id="getVolunteerEnrollHistoryCount" resultType="_int">
		select count(*) 
		from volunteer 
			 join users using(u_no)
			 join v_main_category using(v_main_category_no)
			 join v_sub_category using(v_sub_category_no)
			 join v_target_category using(v_target_category_no)
		<where>
			<if test="uNo != null">
				u_no = #{uNo}
			</if>
		</where>
	</select>
	
	<select id="getSelectVolunteerEnrollHistory" resultMap="volunteerResultSet">
		select * 
		from volunteer 
			 join users using(u_no)
			 join v_main_category using(v_main_category_no)
			 join v_sub_category using(v_sub_category_no)
			 join v_target_category using(v_target_category_no)
		<where>
			<if test="uNo != null">
				u_no = #{uNo}
			</if>
		</where>
		order by v_no desc
	</select>
	
	<select id="getSearchVolunteerHistoryCount" resultType="_int">
		select count(*)
		from volunteer
			 join users using(u_no)
			 join v_main_category using(v_main_category_no)
			 join v_sub_category using(v_sub_category_no)
			 join v_target_category using(v_target_category_no)
		<where>
			<if test="startDate != null and !startDate.equals('')">
				and <![CDATA[to_date(to_char(${column}, 'yyyy-mm-dd')) >= #{startDate}]]>
			</if>
			<if test="endDate != null and !endDate.equals('')">
				and <![CDATA[to_date(to_char(${column}, 'yyyy-mm-dd')) <= #{endDate}]]>
			</if>
			<if test="vMainCategoryName != null and !vMainCategoryName.equals('')">
				and v_main_category_name like '%${vMainCategoryName}%'
			</if>
			<if test="vName != null and !vName.equals('')">
				and v_name like '%${vName}%'
			</if>
			<if test="vTargetCategoryName != null and !vTargetCategoryName.equals('')">
				and v_target_category_name like '%${vTargetCategoryName}%'
			</if>
			<if test="uNo != null and !uNo.equals('')">
				and u_no = #{uNo}
			</if>
			<if test="status != null and !status.equals('')">
			<if test="status.equals('모집전')">
					<![CDATA[and to_date(v_recruitment_start_date) > to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
				</if>
				<if test="status.equals('모집중')">
					<![CDATA[and to_date(v_recruitment_start_date) <= to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
					<![CDATA[and to_date(v_recruitment_end_date) >= to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
				</if>
				<if test="status.equals('모집종료')">
					<![CDATA[and to_date(v_recruitment_end_date) < to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
				</if>
			</if>
			<if test="registrar != null">
				and registrar like '%${registrar}%'
			</if>
		</where>
	</select>
	
	<select id="selectSearchVolunteerEnrollHistory" resultMap="volunteerResultSet">
		select *
		from volunteer
			 join users using(u_no)
			 join v_main_category using(v_main_category_no)
			 join v_sub_category using(v_sub_category_no)
			 join v_target_category using(v_target_category_no)
		<where>
			<if test="startDate != null and !startDate.equals('')">
				and <![CDATA[to_date(to_char(${column}, 'yyyy-mm-dd')) >= #{startDate}]]>
			</if>
			<if test="endDate != null and !endDate.equals('')">
				and <![CDATA[to_date(to_char(${column}, 'yyyy-mm-dd')) <= #{endDate}]]>
			</if>
			<if test="vMainCategoryName != null and !vMainCategoryName.equals('')">
				and v_main_category_name like '%${vMainCategoryName}%'
			</if>
			<if test="vName != null and !vName.equals('')">
				and v_name like '%${vName}%'
			</if>
			<if test="vTargetCategoryName != null and !vTargetCategoryName.equals('')">
				and v_target_category_name like '%${vTargetCategoryName}%'
			</if>
			<if test="uNo != null and !uNo.equals('')">
				and u_no = #{uNo}
			</if>
			<if test="status != null and !status.equals('')">
				<if test="status.equals('모집전')">
					<![CDATA[and to_date(v_recruitment_start_date) > to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
				</if>
				<if test="status.equals('모집중')">
					<![CDATA[and to_date(v_recruitment_start_date) <= to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
					<![CDATA[and to_date(v_recruitment_end_date) >= to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
				</if>
				<if test="status.equals('모집종료')">
					<![CDATA[and to_date(v_recruitment_end_date) < to_date(to_char(sysdate, 'yyyy-mm-dd'))]]>
				</if>
			</if>
			<if test="registrar != null">
				and registrar like '%${registrar}%'
			</if>
		</where>
		order by v_no desc
	</select>
	
	<update id="updateVolunteerStatus">
		update volunteer
		set v_status = #{status}
		where v_no = #{vNo}
	</update>
</mapper>