<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>선한 뉴스</title>
<link rel="stylesheet" href="css/board/fineNews_form_style.css">
<style>
    /* 모달 */
	#modal { width: 300px; height: 350px; border: 1px solid #eee; padding: 30px; margin: auto; display: none;
		border-radius: 20px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);  text-align: center; background-color: white;
 		position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;}
	
	.modal-comment {
		font-size: 16px;
	}
	
	#withdrawal-btn {
		border-radius: 4px;
		width: 90px;
		height: 35px;
		font-size: 15px;
		color: #fff;
		background-color: #609966;
		border: 1.5px solid #609966;
	}
	
	#rollback-btn {
		border-radius: 4px;
		width: 90px;
		height: 35px;
		font-size: 15px;
		color: #609966;
		background-color: #fff;
		border: 1.5px solid #609966;
	}
	
	.modal-comment2 {
		font-weight: bold;
		font-size: 17px;
	}
	
	#heartImage {
		block-size: 120px;
	}
   </style>
</head>
<body>
	<div th:replace="~{../common/header :: header}"></div>
	<section id="fineNews_write_section">
		<div>
	        <div id="fineNews_title">선한 뉴스</div>
	    </div>
	    <div id="fineNews_write_title">게시글 작성</div>
		
	        <form method="post" action="writeBoard.bo">
	            <table class="formDiv">
                    <tr>
                        <td colspan="2" rowspan="2">
                            <div id="groupPic">
                                <span id="insertGroupPic">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                                          <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                                    </svg><br><br>
                                    모임 대표 이미지 첨부<br>[필수 사항]
                                </span>
                                <img id="preview">						
                                <input type="file" accept="image/*" class="form-control form-control-lg" name="file" id="groupReprePic" onchange="setThumbnail(event);">
                            </div>
                        </td>
                        <td colspan="2" class="titleArea">
                            <input type="text" class="fineNewsTitle" placeholder="제목 입력" maxlength="16" required>
                            <input type="text" class="fineNewsURL" placeholder="URL 입력" maxlength="7" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
							<div class="fineNewsContentContainer">
								<span style="color:#aaa;" id="counter">「 0 / 200 」</span>
                            	<textarea class="fineNewsContent" placeholder="내용을 입력하세요. (200자 입력 가능)" required></textarea>
							</div>
                        </td>
                    </tr>
                </table>
                <div class="btnArea">
	                <button class="writeFaqBtn learn-more">글쓰기</button>
	                <button type="button" class="backBtn learn-more-back">취소</button>
	            </div>
	        </form>
	</section>
	<div th:replace="~{views/common/footer :: footer}"></div>
	<!-- 모달창 -->
	<div id="modal"><br>
		<img id="heartImage" src="image/heart2.png"/><br><br>
		<span class="modal-comment modal-comment2">글 작성을 취소하시겠어요?</span><br>
		<span class="modal-comment">확인 선택 시 작성한 글 내용은</span><br>
		<span class="modal-comment">절대 복구되지 않습니다.</span><br><br>
		<button id="rollback-btn">취소</button>
		<button id="withdrawal-btn">확인</button>
	</div>
	<script>
    	window.onload = () => {
			
			const backBtn = document.getElementsByClassName('backBtn')[0];
			const yesBtn = document.getElementById('withdrawal-btn');
			const noBtn = document.getElementById('rollback-btn');
			const modal = document.getElementById('modal');
			
			backBtn.addEventListener('click', () => {
				event.preventDefault();
			    modal.style.display = 'block';
			});
			
			yesBtn.addEventListener('click', () => {
			    modal.style.display = 'none';
			    location.href="fineNewsMain.bo";
			});
			
			noBtn.addEventListener('click', () => {
			    modal.style.display = 'none';
			});
			
    	}
        
        const imgDiv = document.getElementById('groupPic');
        
        
        // 파일 첨부

        imgDiv.addEventListener('click', ()=>{
            console.log(123);
            document.getElementById('groupReprePic').click(); // input이 실행되고
        })

        function setThumbnail(event){
                for(const image of event.target.files){
                    const reader = new FileReader();
                    reader.onload = function(event){
                        document.getElementById('insertGroupPic').style.display='none';
                        const img = document.getElementById("preview");
                        console.log(img);
                        img.src = event.target.result;
                        img.setAttribute("style", "width:220px; height:220px; background-color:white; margin:auto; border-radius:2em; border:3px solid #609966");
                        
                    }
                    reader.readAsDataURL(image);
                }
                console.log(document.getElementById('groupReprePic').value);
        }

		// finePeopleContent 글자 수 카운팅

		document.querySelector('.fineNewsContent').addEventListener('keyup', function(e) {
    		var content = this.value;
    		document.querySelector('#counter').innerHTML = "「 " + content.length + " / 200 」";    //글자수 실시간 카운팅

    		if (content.length >= 200) {
				this.value = content.substring(0, 200);
        		document.querySelector('#counter').innerHTML = "「 200 / 200 」";
				document.querySelector('#counter').style.backgroundColor = 'rgb(64, 81, 59)';
    		} else if(content.length < 200){
				document.querySelector('#counter').style.backgroundColor = 'rgb(235, 243, 237)';
			}
		});

	</script>
</body>
</html>