<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>선한 뉴스(관리자)</title>
<link rel="stylesheet" href="css/board/fineNewsAdmin_style.css">
<script src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
	<div th:replace="~{../common/header :: header}"></div>
	
	<div class="flex-container">
	
		<div th:replace="~{views/common/adminSidebar :: adminSidebar}"></div>
		
		<section id="fineNewsAdmin_section">
			<div>
	            <div id="fineNewsAdminTitle">선한 뉴스 목록</div>
	        </div>
	        
	        <div class="actionArea">
	        	<th:block th:if="${ session.loginUser != null && session.loginUser.isAdmin == 0 }">
		            <div class="writeArea">
		                <button class="writeFaqBtn learn-more" onclick="location.href='fineNewsForm.bo'">글쓰기</button>
		            	<a id="connectAdmin"th:href="|fineNewsMain.bo|">유저 페이지로 이동</a>
		            </div>
	            </th:block>
	            <div class="searchArea">
	                <input class="searchInput" type="text" placeholder="제목으로 검색" th:value="${map.isEmpty() ? '' : map.keyword}"/>
	                <a class="searchIconATag"><img class="searchIcon" src="image/search.png"></a>
	            </div>
	        </div>
	        
			<table class="fineNewsAdminTable">
	            <thead>
	                <tr>
	                    <th style="width: 10%">No</th>
	                    <th style="width: 27%">제목</th>
	                    <th style="width: 30%">내용</th>
	                    <th style="width: 15%">작성일</th>
	                    <th style="width: 18%">업데이트</th>
	                </tr>
	            </thead>
	            <tbody>
				    <tr th:each="b : ${list}">
				        <th:block th:if="${b != null}">
				            <td th:text="${b.boardNo}"></td>
				            <td>
				                <div class="fineNews_title_wrap">
				                    <p class="fineNews_title" th:text="${b.boardTitle}"></p>
				                </div>   
				            </td>
				            <td>
				                <div class="fineNews_content_wrap">
				                    <p class="fineNews_content" th:text="${b.boardContent}"></p>
				                </div>   
				            </td>
				            <td th:text="${b.boardDate}"></td>
				            <td>
				            	<button id="updateBtn" th:onclick="location.href='fineNewsEdit.bo?bNo=' + btoa([[${b.boardNo}]]) + '&page=' + [[${pi.currentPage}]]">수정</button>
				            	<button id="deleteBtn" th:onclick="location.href='deleteFineNews.bo?bNo=' + btoa([[${b.boardNo}]])">삭제</button>
				            </td>												
				        </th:block>
				    </tr>
				    <tr>
			        	<th:block th:if="${#lists.isEmpty(list)}">
				            <td colspan="5" id="emptyBoardList">게시글이 없습니다.</td>
				        </th:block>
					</tr>
				</tbody>
	        </table>
	        
	        <div class="page" th:with="loc=${#ctx.springRequestContext.requestUri}">
            	<ul class="pagination">
	                <li th:if="${ pi.currentPage > 1 && !map.isEmpty()}">
		                <a class="first" th:href="@{${loc}(page=${ pi.currentPage -1 }, keyword=${map.keyword})}">
		                	<img class="arrowKey" src="image/before.png">
		                </a>
	                </li>
	                <li th:if="${ pi.currentPage > 1 && map.isEmpty()}">
		                <a class="first" th:href="@{${loc}(page=${ pi.currentPage -1 })}">
		                	<img class="arrowKey" src="image/before.png">
		                </a>
	                </li>
	                <li th:unless="${ pi.currentPage > 1}">
		                	<img class="arrowKey disabled" src="image/before.png">
	                </li>
	                
	                <li th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage)}">
	                	<th:block th:if="${p != 0 && !map.isEmpty()}">
	                	<a th:href="@{${loc}(page=${p}, keyword=${map.keyword})}" th:text="${p}"
	                		th:class="${p == pi.currentPage} ? 'num currentPage' : 'num'"></a>
	                	</th:block>
	                </li>
	                <li th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage)}">
	                	<th:block th:if="${p != 0 && map.isEmpty()}">
	                	<a th:href="@{${loc}(page=${p})}" th:text="${p}"
	                		th:class="${p == pi.currentPage} ? 'num currentPage' : 'num'"></a>
	                	</th:block>
	                </li>
	                
	                <li th:if="${ pi.currentPage < pi.maxPage && !map.isEmpty()}">
		                <a class="last" th:href="@{${loc}(page=${ pi.currentPage + 1 }, keyword=${map.keyword})}">
		                	<img class="arrowKey" src="image/next.png">
		                </a>
	                </li>
	                <li th:if="${ pi.currentPage < pi.maxPage && map.isEmpty()}">
		                <a class="last" th:href="@{${loc}(page=${ pi.currentPage + 1 })}">
		                	<img class="arrowKey" src="image/next.png">
		                </a>
	                </li>
	                <li th:unless="${ pi.currentPage < pi.maxPage }">
		                	<img class="arrowKey disabled" src="image/next.png">
	                </li>
	            </ul>
        	</div>
        </section>
        
	</div>
	<br><br>
	<div th:replace="~{views/common/footer :: footer}"></div>
	
	<script>
		// 검색 기능 (키워드만)
		document.getElementsByClassName('searchIconATag')[0].addEventListener('click', ()=>{
			enrollSearchKeyword();
		});
		
		document.getElementsByClassName('searchInput')[0].addEventListener('keyup', (e)=>{
			if(e.key == 'Enter'){
				enrollSearchKeyword()
			}
		});
		
		function enrollSearchKeyword(){
			const input = document.querySelector('.searchInput').value.trim();
			location.href = 'fineNewsAdmin.bo?keyword=' + encodeURI(input);
		}
	</script>
</body>
</html>