<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>선뜻한 사람</title>
	<link rel="stylesheet" href="css/finePeople_style.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>
	<div th:replace="~{../common/header :: header}"></div>
	<section id="finePeopleSection">
        <div>
            <div id="finePeopleTitle">선뜻한 사람</div>
        </div>

		<div class="path">
            <a class="middle" href="/"><img class="homeIconSize" src="image/home.png"></a>
            <img class="sub iconSize" src="image/arrow.png">
            <a class="middle" href="#">선뜻</a>
            <img class="sub iconSize" src="image/arrow.png">
            <a class="middle">선뜻한 사람</a>
        </div>

        <div class="actionArea">
            <div class="writeArea">
                <button class="writeFaqBtn learn-more" onclick="location.href='finePeople_form.bo'">글쓰기</button>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="image/finePeopleImage.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <div class="peopleInfo">
                        <h5 class="card-title">・:*( ܸ ・⩊・ ܸ )*:・</h5>
                        <img id="peopleIcon" src="image/IconPeople.png">
                        <h5 class="card-name">전태일</h5>
                    </div>    
                    <p class="card-text">전태일은 한국 현대사의 한 획을 그었다. 그의 죽음에 한국 사회는 커다란 충격을 받았다. “전태일이 없었다면 한국 노동자들의 인권은 수십 년 뒤에나 존중 받았을 것”이라는 말을 들을 정도로, 그의 죽음은 대한민국의 노동운동과 민주주의 발달에 큰 영향을 끼쳤다.전태일은 한국 현대사의 한 획을 그었다. 그의 죽음에 한국 사회는 커다란 충격을 받았다. 어쩌라고라니다</p>
                    <!-- card-text는 글자 수 제한 155자 해야 함.-->
                    <div class="card-date">
                        <p class="date">2023-05-31📌</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="image/finePeopleImage.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <div class="peopleInfo">
                        <h5 class="card-title">어차피 일등은 나! ( ◡̀_◡́)ᕤ</h5>
                        <img id="peopleIcon" src="image/IconPeople.png">
                        <h5 class="card-name">이단비</h5>
                    </div>    
                    <p class="card-text">이단비는 B 강의장 내에서 우수한 성적으로 압도적인 실력을 뽐내는 학생이다. 그녀는 은근 말이 많음과 동시에 웃음도 많은, 마치 쭈니와 같은 모습을 지녔다. 요즘 바라는 소원은 등하원 길에 차가 막히지 않는 것. "오늘은 운 좋게 바로 탔어요!" 하지만 궁극적 바람은 불가피한 휴원이 아닐까?</p>
                    <!-- card-text는 글자 수 제한 155자 해야 함.-->
                    <div class="card-date">
                        <p class="date">2023-05-31📌</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="image/finePeopleImage.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <div class="peopleInfo">
                        <h5 class="card-title">힘들어, 하지만 *´ސު｀*</h5>
                        <img id="peopleIcon" src="image/IconPeople.png">
                        <h5 class="card-name">윤수빈</h5>
                    </div>    
                    <p class="card-text">매일 임무처럼 주어지는 하루를 능숙하게 소화해내는듯 하지만 그녀도 결국 사람! 웃음기 가득한 얼굴이 매순간 어두워진다. 허나 선택의 기로 앞에 놓인 순간, 감히 무너짐을 택할 수 없다. 칠천팔기 인생 이대로 쓰러질 쏘냐? 내 사전에 포기란 없다. 웃어보자GO</p>
                    <!-- card-text는 글자 수 제한 155자 해야 함.-->
                    <div class="card-date">
                        <p class="date">2023-05-31📌</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="image/finePeopleImage.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <div class="peopleInfo">
                        <h5 class="card-title">"이게 되겠냐 했는데 됐다"</h5>
                        <img id="peopleIcon" src="image/IconPeople.png">
                        <h5 class="card-name">신다온</h5>
                    </div>    
                    <p class="card-text">이른 아침, 자리에 착석한 순간부터 마음 속으로 되뇌이는 말. '8시간만 버텨.' 하지만 조원들은 그녀를 놓아주지 않는다. "다온씨, 사이드 바 만들어 줄 수 있어요?", "다온님, xx톡으로 목록 정리해서 보냈어요." … 정적 속에 손가락을 움직여본다. 텍스트 창에 입력되는 눈물 이모티콘, 되긴 뭐가 돼? 조용히 눈가를 훔친다.</p>
                    <!-- card-text는 글자 수 제한 155자 해야 함.-->
                    <div class="card-date">
                        <p class="date">2023-05-31📌</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="image/finePeopleImage.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <div class="peopleInfo">
                        <h5 class="card-title">LONG LIVE THE QUEEN!</h5>
                        <img id="peopleIcon" src="image/IconPeople.png">
                        <h5 class="card-name">김연아</h5>
                    </div>    
                    <p class="card-text">김연아가 등장하기 전에 한국에서의 피겨 스케이팅은 말 그대로 관심없던 종목이었다. 다시 한번 생각해보면 한국은 그야말로 빙상 스포츠 중에서도 레이스에만 특화된 나라였다. 만약 김연아가 없었더라면 한국은 계속 피겨 스케이팅 불모지로 남았을 것이다. </p>
                    <!-- card-text는 글자 수 제한 155자 해야 함.-->
                    <div class="card-date">
                        <p class="date">2023-05-31📌</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="arrowBtn">
            <a href="#" class="btn-gradient yellow mini prev">이전</a>
            <a href="#" class="btn-gradient yellow mini next">다음</a>
        </div>
    </section>
    <div th:replace="~{views/common/footer :: footer}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>