<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>선뜻한 사람(관리자)</title>
<link rel="stylesheet" href="css/board/finePeopleAdmin_style.css">
<script src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
	<div th:replace="~{../common/header :: header}"></div>
	
	<div class="flex-container">
	
		<div th:replace="~{views/common/adminSidebar :: adminSidebar}"></div>
		
		<section id="finePeopleAdmin_section">
			<div>
	            <div id="finePeopleAdminTitle">선뜻한 사람 관리</div>
	        </div>
			<table class="finePeopleAdminTable">
	            <thead>
	                <tr>
	                    <th style="width: 7%">No</th>
	                    <th style="width: 25%">제목</th>
	                    <th style="width: 35%">내용</th>
	                    <th style="width: 15%">작성일</th>
	                    <th style="width: 18%">업데이트</th>
	                </tr>
	            </thead>
	            <tbody>
				    <tr th:each="b : ${list}">
				        <th:block th:if="${b != null}">
				            <td th:text="${b.boardNo}"></td>
				            <td>
				                <div class="finePeople_title_wrap">
				                    <p class="finePeople_title" th:text="${b.boardTitle}"></p>
				                </div>   
				            </td>
				            <td>
				                <div class="finePeople_content_wrap">
				                    <p class="finePeople_content" th:text="${b.boardContent}"></p>
				                </div>   
				            </td>
				            <td th:text="${b.boardDate}"></td>
				            <td>
				            	<button id="updateBtn" th:onclick="location.href='updateFinePeopleForm.bo'">수정</button>
				            	<button id="deleteBtn" th:onclick="location.href='deleteFinePeople.bo?bNo=' + btoa([[${b.boardNo}]])">삭제</button>
				            </td>												<!-- pi.currentPage 보내기? -->
				        </th:block>
				    </tr>
				    <tr>
			        	<th:block th:if="${#lists.isEmpty(list)}">
				            <td colspan="5" id="emptyBoardList">게시글이 없습니다.</td>
				        </th:block>
					</tr>
				</tbody>
	        </table>
	        
	        <div class="page" th:with="loc=${#ctx.springRequestContext.requestUri}">
            <ul class="pagination">
                <li th:if="${ pi.currentPage > 1 }">
	                <a class="first" th:href="@{${loc}(page=${ pi.currentPage -1 })}">
	                	<img class="arrowKey" src="image/before.png">
	                </a>
                </li>
                <li th:unless="${ pi.currentPage > 1 }">
	                	<img class="arrowKey disabled" src="image/before.png">
                </li>
                
                <li th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage)}">
                	<th:block th:if="${p != 0}">
                	<a th:href="@{${loc}(page=${p})}" th:text="${p}"
                		th:class="${p == pi.currentPage} ? 'num currentPage' : 'num'"></a>
                	</th:block>
                </li>
                
                <li th:if="${ pi.currentPage < pi.maxPage} ">
	                <a class="last" th:href="@{${loc}(page=${ pi.currentPage + 1 })}">
	                	<img class="arrowKey" src="image/next.png">
	                </a>
                </li>
                <li th:unless="${ pi.currentPage < pi.maxPage }">
	                	<img class="arrowKey disabled" src="image/next.png">
                </li>
            </ul>
        </div>
        </section>
        
	</div>
	<br><br>
	<div th:replace="~{views/common/footer :: footer}"></div>
	
</body>
</html>