<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>결실</title>
<link rel="stylesheet" href="css/board/fruit_style.css">
</head>
<body>
	<div th:replace="~{../common/header :: header}"></div>
    <section id="fruitSection">
        <div>
            <div id="mainFruitTitle">결실</div>
        </div>
        <p id="subFruitTitle">선한 뜻으로 함께합니다.</p>

        <div class="path">
            <a class="middle" href="/"><img class="homeIconSize" src="image/home.png"></a>
            <img class="sub iconSize" src="image/arrow.png">
            <a class="middle" href="finePeopleMain.bo">선뜻</a>
            <img class="sub iconSize" src="image/arrow.png">
            <a class="middle">결실</a>
        </div>

        <div class="actionArea">
        	<th:block th:if="${ session.loginUser != null && session.loginUser.isAdmin == 0 }">
	            <div class="writeArea">
	                <button class="writeFaqBtn learn-more" onclick="location.href='fruitForm.bo'">글쓰기</button>
	            </div>
            </th:block>
            <div class="searchArea">
                <input class="searchInput" type="text" placeholder="검색(글 제목)" th:value="${params.isEmpty() ? '' : params.keyword}"/>
                <a class="searchIconATag"><img class="searchIcon" src="image/search.png"></a>
            </div>
            <div class="dropdown">
                <button id="dropbtn">
                	[[${params.isEmpty() ? '🕊️카테고리' : (params.category == 0 ? '선택없음' : (params.category == 1 ? '후원' : '봉사'))}]]
                </button>	<!-- isEmpty()인 이유 : 컨트롤러에서 처음부터 map을 만들기 때문에 객체{} 내부에 빈 값이 있어도 보내진다.  -->
                <input type="hidden" name="category" th:value="${params.isEmpty() ? '' : params.category}">
                <div class="dropdown-content">
                    <span class="selectCate">선택없음</span>
                    <span class="selectCate">후원</span>
                    <span class="selectCate">봉사</span>
                </div>
            </div>
        </div>

        <table class="fruitTable">
            <thead>
                <tr>
                    <th style="width: 13%;">No</th>
                    <th style="width: 13%;">카테고리</th>
                    <th style="width: 46%;">제목</th>
                    <th style="width: 16%;">작성일</th>
                    <th style="width: 12%;">조회수</th>
                </tr>
            </thead>
            <tbody>
			    <tr th:each="b : ${list}">
			        <th:block th:if="${b != null}">
			            <td th:text="${b.boardNo}"></td>
			            <td th:text="${b.boardCate == 1 ? '후원' : (b.boardCate == 2 ? '봉사' : '-')}"></td>
			            <td>
			                <div class="fruit_title_wrap">
			                    <p class="fruit_title" th:text="${b.boardTitle}"></p>
			                </div>   
			            </td>
			            <td th:text="${b.boardDate}"></td>
			            <td th:text="${b.boardCount}"></td>
			        </th:block>
			    </tr>
			    <tr>
		        	<th:block th:if="${#lists.isEmpty(list)}">
			            <td colspan="5" id="emptyBoardList">게시글이 없습니다.</td>
			        </th:block>
				</tr>
			</tbody>
        </table>

        <div class="page" th:with="loc=${#ctx.springRequestContext.requestUri}">
            <ul class="pagination">
                <li th:if="${ pi.currentPage > 1 && !params.isEmpty()}">
	                <a class="first" th:href="@{${loc}(page=${ pi.currentPage -1 }, keyword=${params.keyword}, category=${params.category})}">
	                	<img class="arrowKey" src="image/before.png">
	                </a>
                </li>
                
                <li th:if="${ pi.currentPage > 1 && params.isEmpty()}">
	                <a class="first" th:href="@{${loc}(page=${ pi.currentPage -1 })}">
	                	<img class="arrowKey" src="image/before.png">
	                </a>
                </li>
                
                <li th:unless="${ pi.currentPage > 1 }">
	                	<img class="arrowKey disabled" src="image/before.png">
                </li>
                
                <li th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage)}">
                	<th:block th:if="${p != 0 && !params.isEmpty()}">
                	<a th:href="@{${loc}(page=${p}, keyword=${params.keyword}, category=${params.category})}" th:text="${p}"
                		th:class="${p == pi.currentPage} ? 'num currentPage' : 'num'"></a>
                	</th:block>
                </li>
                <li th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage)}">
                	<th:block th:if="${p != 0 && params.isEmpty()}">
                	<a th:href="@{${loc}(page=${p})}" th:text="${p}"
                		th:class="${p == pi.currentPage} ? 'num currentPage' : 'num'"></a>
                	</th:block>
                </li>
<!--                 			keyword랑 category도 받기 -->
                <li th:if="${ pi.currentPage < pi.maxPage && !params.isEmpty()} ">
	                <a class="last" th:href="@{${loc}(page=${ pi.currentPage + 1 }, keyword=${params.keyword}, category=${params.category})}">
	                	<img class="arrowKey" src="image/next.png">
	                </a>
                </li>
                
                <li th:if="${ pi.currentPage < pi.maxPage && params.isEmpty()} ">
	                <a class="last" th:href="@{${loc}(page=${ pi.currentPage + 1 })}">
	                	<img class="arrowKey" src="image/next.png">
	                </a>
                </li>
                
                <li th:unless="${ pi.currentPage < pi.maxPage }">
	                	<img class="arrowKey disabled" src="image/next.png">
                </li>
            </ul>
        </div>
    </section>
    <div th:replace="~{views/common/footer :: footer}"></div>
    
    <script th:inline="javascript">
    	window.onload = () => {
    		
    		// 카테고리 선택
			const selectCates = document.getElementsByClassName('selectCate');
			for(const selectCate of selectCates){
				selectCate.addEventListener('click', function(){
					document.getElementById('dropbtn').innerText = this.innerHTML;
					document.getElementsByName('category')[0].value= this.innerHTML;
// 					console.log(document.getElementsByClassName('dropdown-content')[0])
					document.getElementsByClassName('dropdown-content')[0].style.display='none';
				});
			}
			
			document.getElementById('dropbtn').addEventListener('click', ()=>{
				document.getElementsByClassName('dropdown-content')[0].style.display='block';	
			});
			
			// dropbtn 이나 dropdownContent 외의 다른 영역 클릭 시 none
			document.addEventListener('click', (event) => {
                const target = event.target;
                const dropdownContent = document.getElementsByClassName('dropdown-content')[0];
                const dropbtn = document.getElementById('dropbtn');
                if (target !== dropdownContent && target !== dropbtn) {
                    dropdownContent.style.display = 'none';
                }
            });
			
			// 게시글 선택 
			const tbody = document.querySelector('tbody');
			const tds = tbody.querySelectorAll('td');
			/* <![CDATA[ */
			for(const td of tds){	// for of 배열 안 요소, for in 배열 안 인덱스(객체는 키)
// 				console.log(td);
				td.addEventListener('click', function(){
					const trTds= this.parentElement.children; // = querySelectorAll
					const boardNo = trTds[0].innerText;
					const params = /*[[${params}]]*/1;
					const page = /*[[${pi.currentPage}]]*/1;
					
					let url = '';
					if(params != null){
						if(params.hasOwnProperty('keyword')){
							url += '&keyword=' + params.keyword;
						}
						if(params.hasOwnProperty('category')){
							url += '&category=' + params.category;
						}
					}
					
					location.href='fruitDetail.bo?bNo=' + boardNo + '&page=' + page + url;
				});
			}
			/* ]]> */
			
			// 검색 기능
			document.getElementsByClassName('searchIconATag')[0].addEventListener('click', ()=>{
				enrollSearchKeyword();
			});
			
			document.getElementsByClassName('searchInput')[0].addEventListener('keyup', (e)=>{
				if(e.key == 'Enter'){
					enrollSearchKeyword()
				}
			});
			
			function enrollSearchKeyword() {
				const input = document.querySelector('.searchInput').value.trim();
				const category = document.getElementsByName('category')[0].value;
				console.log(category);
				let cate;
				let link = 'fruitMain.bo?keyword=' + encodeURI(input);
				if(category == "후원" || category == 1){
					cate = 1;
					link += '&category=' + cate;
				} else if(category == "봉사" || category == 2){
					cate = 2;
					link += '&category=' + cate;
				}
				location.href = link;
			}
    	}
    </script>
</body>
</html>