<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>결실</title>
<link rel="stylesheet" href="css/fruit_detail_style.css">
<style>
	.backgroundImage::after {
	    width: 100%;
	    height: 100%;
	    background-color: #EDF1D6;
	    border-radius: 15px;
	    content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: -1;
	    opacity: 0.4;
	}
</style>
</head>
<body>
	<div th:replace="~{../common/header :: header}"></div>
	<section id="fruit_write_section">
        
		<div>
	        <div id="fruit_title">결실</div>
	    </div>
        
        <div class="path">
            <a class="middle" href="/"><img class="homeIconSize" src="image/home.png"></a>
            <img class="sub iconSize" src="image/arrow.png">
            <a class="middle" href="#">선뜻</a>
            <img class="sub iconSize" src="image/arrow.png">
            <a class="middle">결실</a>
        </div>

        <div class="titleAndMore">
            <div class="titleWrap">
                <div class="fruit_write_title">글 제목입니다.</div>
            </div>    
            <div class="dropdown">
                <img class="seeMore" src="image/seeMore.png">
                <input type="hidden" name="category" value="none">
                <div class="dropdown-content">
                    <span class="selectCate">수정</span>
                    <span class="selectCate">삭제</span>
                </div>
            </div>
        </div>
        
        <div class="detailArea">
            <hr class="hr">
            <div class="contentArea backgroundImage">
            	<p class="boardDate">[[${ board.boardDate }]]</p>
                <p class="contentMain">글 내용입니다.</p>
            </div>
            <hr class="hr">
        </div>
        
        <div class="btnArea">
            <button type="button" class="backBtn learn-more-back" onclick="location.href='fruitMain.bo'">목록으로</button>
        </div>
            
	</section>
	<div th:replace="~{views/common/footer :: footer}"></div>
</body>
</html>