<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>선뜻</title>
	<link rel="shortcut icon" type="image/x-icon" href="image/heart.png"/>
    <link rel="stylesheet" href="css/board/myReply_style.css">
    <script src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
    <style>
    	.flex-container {
        	display: flex;
   		}
    </style>
</head>
<body>
	<div th:replace="~{../common/header :: header}"></div>
	<div class="flex-container">
		<div th:replace="~{views/common/sidebar :: sidebar}"></div>
	    <section id="myReplySection">
	        <div>
	            <div id="myReplyTitle">내가 작성한 댓글</div>
	        </div>
	        <p id="subMyReplyTitle">＊더블 클릭 시 해당 게시글로 이동</p>
	
	        <div class="actionArea">
	            <div class="checkArea">
	                <button class="checkBtn">전체 선택</button>
	                <button class="deleteReplyBtn" onclick="location.href='#'">삭제</button>
	            </div>
	        </div>
	        <table class="myReplyTable">
	            <thead>
	                <tr>
	                    <th>✔️</th>
	                    <th>게시판</th>
	                    <th>댓글 번호</th>
	                    <th style="width: 30%;">댓글 내용</th>
	                    <th style="width: 30%">글 제목</th>
	                    <th style="width: 17%">작성일</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each=" r : ${list}">
	                    <td>
	                    	<input type="checkbox" class="checkBoard">
	                    	<input type="hidden" th:value="${r.nickName}" name="nickName">
							<input type="hidden" th:value="${r.boardNo}" name="boardNo">
	                    </td>
	                    <td th:text="${r.boardType}"></td>
	                    <td th:text="${r.replyNo}" id="replyNo"></td>
	                    <td>
	                        <div class="myReply_wrap">
	                            <p th:text="${r.replyContent}" class="myReply"></p>
	                        </div>
	                    </td>
	                    <td>
	                        <div class="myBoardTitle_wrap">
								<p th:text="${r.boardTitle}"class="myBoardTitle"></p>
							</div>
	                    </td>
	                    <td th:text="${r.replyDate}"></td>
	                </tr>
	                <tr id="emptyReplyList">
			        	<th:block th:if="${#lists.isEmpty(list)}">
				            <td colspan="7" id="emptyReplyList">작성한 댓글이 없습니다.</td>
				        </th:block>
					</tr>
	            </tbody>
	        </table>
	        <div class="page" th:with="loc=${#ctx.springRequestContext.requestUri}">
	            <ul class="pagination">
	                <li th:if="${ pi.currentPage > 1 }">
		                <a class="first" th:href="@{${loc}(page=${ pi.currentPage -1 })}">
		                	<img class="arrowKey" src="image/before.png">
		                </a>
	                </li>
	                <li th:unless="${ pi.currentPage > 1 }">
		                	<img class="arrowKey disabled" src="image/before.png">
	                </li>
	                
	                <li th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage)}">
	                	<th:block th:if="${p != 0}">
	                	<a th:href="@{${loc}(page=${p})}" th:text="${p}"
	                		th:class="${p == pi.currentPage} ? 'num currentPage' : 'num'"></a>
	                	</th:block>
	                </li>
	                
	                <li th:if="${ pi.currentPage < pi.maxPage} ">
		                <a class="last" th:href="@{${loc}(page=${ pi.currentPage + 1 })}">
		                	<img class="arrowKey" src="image/next.png">
		                </a>
	                </li>
	                <li th:unless="${ pi.currentPage < pi.maxPage }">
		                	<img class="arrowKey disabled" src="image/next.png">
	                </li>
	            </ul>
	        </div>
	    </section>
	</div>
	<br><br>
    <div th:replace="~{views/common/footer :: footer}"></div>
    <script th:inline="javascript">
    	window.onload = () => {
    		
			const tds = document.querySelector('tbody').querySelectorAll('td');
			
			/*<![CDATA[ */
				
			// 더블 클릭 시 해당 댓글이 위치한 글 본문으로 이동
			// 결실 : fruitDetail.bo?bNo=225&page=1
			// TALK : commDetailPage.bo?bNo=179&writer=선뜻&page=1
			// 1:1 문의 : qaDetailPage.bo?bNo=181&writer=피치딸기피지오&page=1
			
			for(const td of tds){
				td.addEventListener('dblclick', function(){
					const tr = this.parentElement;
					const replyNo = tr.children[2].innerText;
					const writer = tr.children[0].children[1].value;
					const boardNo = tr.children[0].children[2].value;
					const boardType = tr.children[1].innerText;
					const page = /*[[${pi.currentPage}]]*/0;
					
					if(boardType == '결실'){
						location.href = 'fruitDetail.bo?bNo=' + boardNo + '&page=' + page;
					} else if(boardType == '일반'){
						location.href = 'commDetailPage.bo?bNo=' + boardNo + '&writer=' + writer + '&page=' + page;
					} else if(boardType == 'QA'){
						location.href = 'qaDetailPage.bo?bNo=' + boardNo + '&writer=' + writer + '&page=' + page;
					}
					
// 					console.log(writer);
// 					console.log(boardNo);
// 					console.log(boardType);
// 					console.log(boardType);
// 					console.log(page);
				})
			}
			/* ]]> */
			
			
			for(const td of tds){
                td.addEventListener('click', function(){
                    const tr = this.parentElement;
                    const checkBoards = tr.querySelectorAll('.checkBoard');
                    for(const checkBoard of checkBoards){
                        if(checkBoard.checked){
                            checkBoard.checked = false;
                        } else {
                            checkBoard.checked = true;
                        }
                    }
                });
            }
			
            const inputs = document.querySelectorAll('.checkBoard');
            
            for(const input of inputs){
                input.addEventListener('click', function(){
                    const td = this.parentElement;
                    const tr = td.parentElement;
                    const checkBoards = tr.querySelectorAll('.checkBoard');
                    for(const checkBoard of checkBoards){
                        if(checkBoard.checked){
                            checkBoard.checked = false;
                        } else {
                            checkBoard.checked = true;
                        }
                    }
                });
            }

            
            let flagCheck = true;

            document.querySelector('.checkBtn').addEventListener('click', function(){
                for(const td of tds){
                    const checkBoards = document.querySelectorAll('.checkBoard');
                    for(const checkBoard of checkBoards){
                        checkBoard.checked = flagCheck;
                    }
                }
                flagCheck = !flagCheck;
            });
            
            
            // 선택한 댓글 삭제
            
            const emptyReplyList = document.getElementById('emptyReplyList');
            
            document.getElementsByClassName('deleteReplyBtn')[0].addEventListener('click', function(){
            	let replies = '';
            	
            	const trs = document.querySelector('tbody').querySelectorAll('tr');
            	
            	for(const tr of trs){
	                const checkBoards = tr.querySelectorAll('.checkBoard');
	                for(const checkBoard of checkBoards){
                        if(checkBoard.checked){
                        	if(replies != ''){
                        		replies += ',';
                        	}
	            			replies += tr.querySelector('#replyNo').innerText;
                        } 
                    }
            	}
            	console.log(replies);
            	
            	$.ajax({
            		url: 'deleteMyReply.bo',
            		data: {replies: replies},
            		success: data =>{
            			console.log(data);
            			alert('선택한 댓글이 삭제되었습니다');
            			location.href = location.pathname + location.search;
//             			현재 URL의 경로(pathname) + 쿼리 문자열(search)만으로 페이지를 다시로드

//             			location.reload(); → 는 페이지 리로드 후 뒤에 해시가 붙음
            		},
            		error: data =>{
            			console.log(data);
            			alert('댓글 삭제에 실패하였습니다.');
            		}
            	});
            });
            
    	}
    </script>
</body>
</html>