@charset "UTF-8";


@font-face {
   font-family: 'SUITE-Regular';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}
        
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "SUITE-Regular", sans-serif;
}

::selection {
		background-color: #9DC08B;
		color: #fff;
	}

#normal-input {
	padding: 8px 15px 9px;
	border-radius: 4px;
	width: 180px;
	height: 33px;
	border: 1px solid lightgray;
	outline: none;
}

input[type="text"] {
  text-align: center; /* 가운데 정렬 설정 */
}

input[type="radio"] {
	accent-color: #609966;
	width: 14px;
	height: 14px;
}

#faqSection {
    margin-top: 80px;
    margin-left: 18%;
    display: flex;

    align-items: center;
    flex-direction: column; /* 세로 방향, row는 가로 방향 */
}

#faqTitle {
    font-size: 30px;
    border-bottom: 2px solid #40513B;
}

.path {
    margin-top: 30px;
    width: 740px;
    font-size: 14px;
    margin-bottom: 20px;
}

.middle {
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.iconSize {
    block-size: 12px;
}

.homeIconSize {
    block-size: 14px;
}

.sub {
    vertical-align: sub;
}

.writeFaqBtn {
    width: 80px;
    height: 25px;
    background-color: #9DC08B;
    color: white;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid black;
    font-size: 14px;
}

.actionArea {
    margin-top: 30px;
    width: 750px;
}

.writeArea {
    float: left;
}

.searchArea {
    float: right;
}

.faqTable {
    width: 750px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 15px;
    border-radius: 10px;
}

th, td {
    padding: 10px;
}

.title { width: 268px; }
td { width: 460px; }

.faqTable thead tr th {
    border-bottom: 1px dotted black;
    background-color: #EDF1D6;
}

.first {
    border-radius: 10px 0px 0px 0px;
}

.last {
    border-radius: 0px 0px 0px 10px;
}

.title {
    border-right: 1px dotted black;
    background-color: #EDF1D6;
}

.page {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
}

.pagination > li {
    list-style-type: none;
    float: left;
}

.pagination > li > .num {
    margin: 10px;
    width: 20px;
    height: 20px;
    text-decoration-line: none;
    color: black;
    font-size: 16px;
    display: inline-block;
    text-align: center
}

.pagination > li > .num:hover {
    color: white;
    background-color: #40513B;
    border-radius: 100%;
}

.arrowKey {
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    block-size: 14px;
    display: block;
}

.faqTable > tbody > tr:hover{
    background-color: #f9fceb;
    cursor: pointer;
}

/* 토글 */
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px; /* 너비 조절 */
  height: 26px; /* 높이 조절 */
  background: gray;
  display: block;
  border-radius: 50px; /* 원형 모양 조절 */
  position: relative;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  top: -10px;
}

.switch:after {
  content: '';
  position: absolute;
  top: 3.6px; /* 상단 위치 조절 */
  left: 4.5px; /* 왼쪽 위치 조절 */
  width: 18px; /* 너비 조절 */
  height: 18px; /* 높이 조절 */
  background: #fff;
  border-radius: 18px; /* 원형 모양 조절 */
  transition: 0.3s;
}

input:checked + .switch {
  background: #9DC08B;
}

input:checked + .switch:after {
  left: calc(100% - 4.5px);
  transform: translateX(-100%);
}

.switch:active:after {
  width: 30px; /* 너비 조절 */
}

.switch-div {
	justify-content: center;
  	align-items: center;
  	display: inline-block;
  	vertical-align: middle;
}

.select-cate {
	width: 90px;
    height: 30px;
    border-radius: 0.4rem;
    background-color: #f3f3f3;
}

.cate-btn {
	padding: 8px 15px 9px;
	border-radius: 30px;
	width: 111px;
	height: 33px;
	font-size: 13px;
	color: #9DC08B;
	background-color: #fff;
	border: 1.5px solid #9DC08B;
}

.isstatus-user {
	display: inline-block;
}

.switch-div {
	display: inline-block;
	margin-left: 5px;
}

.admin-user {
	margin-left: 10px;
}

.normal-btn {
	margin-top: 60px;
	padding: 8px 15px 9px;
	border-radius: 4px;
	width: 300px;
	height: 40px;
	font-size: 15px;
	color: white;
	background-color: #609966;
	border: 1px solid #609966;
	cursor: pointer;
}

.comment {
	display: inline-block;
	margin-left: 350px;
}

.com {
	font-size: 14px;
	color: gray;
}

.vibration{animation: vibration 0.1s infinite;}
@Keyframes vibration{
	from{transform: rotate(1deg);}
	to{transform: rotate(-1deg);}
}
