<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/support/supportListAdmin.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Document</title>

</head>
<style>
/* 토글 */
input[type=radio] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px; /* 너비 조절 */
  height: 26px; /* 높이 조절 */
  background: gray;
  display: block;
  border-radius: 50px; /* 원형 모양 조절 */
  position: relative;
  justify-content: center;
  align-items: center;
  top: -8px;
}

.switch:after {
  content: '';
  position: absolute;
  top: 3.6px; /* 상단 위치 조절 */
  left: 4.5px; /* 왼쪽 위치 조절 */
  width: 18px; /* 너비 조절 */
  height: 18px; /* 높이 조절 */
  background: #fff;
  border-radius: 18px; /* 원형 모양 조절 */
  transition: 0.3s;
}

input:radio + .switch {
  background: #9DC08B;
}

input:radio + .switch:after {
  left: calc(100% - 4.5px);
  transform: translateX(-100%);
}

.switch:active:after {
  width: 30px; /* 너비 조절 */
}

.switch-div {
	justify-content: center;
  	align-items: center;
  	display: inline-block;
  	vertical-align: middle;
}

</style>
<body>
	<div th:replace="~{../common/header :: header}"></div>	
	<section style="display: flex;">
    <div th:replace="~{../common/adminSidebar :: adminSidebar}"></div>
    
		<section id="supportListSection">

        <div>
            <div id="supportList">회원 목록</div>
        </div>

        <div class="path">
            <a class="middle" href="#"><img class="homeIconSize" src="image/home.png"></a>
            <img class="sub iconSize" src="image/onenext.png">
            <a class="middle" href="#">관리자 페이지</a>
            <img class="sub iconSize" src="image/onenext.png">
            <a class="middle">회원 목록</a>
        </div>


			
			<div style="display:flex; width:1000px;">
				<div style="float:left; margin-bottom:2px;">
				<span class="dropdown" id="area-dropdown">
	                <th:block th:if="${category == null}">
		                <button type="button" class="dropdown-btn" id="areabtn">카테고리</button>
		                <input type="hidden" id="area" name="supportCategory" value="none" required/>
	                </th:block>
	                <th:block th:if="${category != null}">
		                <button type="button" class="dropdown-btn" id="areabtn">[[${category}]]</button>
		                <input type="hidden" id="area" name="supportCategory" th:value="${category}" required/>
	                </th:block>
	                <div class="dropdown-content" id="area-content">
	                    <span class="selectArea" th:if="${category != null}">전체</span>
	                    <span class="selectArea">활동중인 회원</span>
	                    <span class="selectArea">관리자인 회원</span>
	                    <span class="selectArea">기관 승인</span>
	                </div>
	            </span>
	            </div>
	            
	            <script>
	            	document.getElementById('areabtn').addEventListener('click', ()=>{
	            		document.getElementById('area-content').style.display="block";
	            	})
	            	
	            	const categorys = document.getElementsByClassName('selectArea')
	            	for(const category of categorys){
	            		category.addEventListener('click',function(){
	            			const cate = this.innerText;
	            			location.href="categoryListAdmin.su?category="+cate;
	            		})
	            	}
	            	
	            	const total = document.getElementsByClassName('selectArea')[0]
	            	if(total != null){
	            		total.addEventListener('click', ()=>{
	            			location.href="supportListAdmin.su";
	            		})
	            	}
	            </script>
	            
	              
				<div class="actionArea" style="float:right;">
	            <div class="searchArea">
	                <th:block th:if="${searchWord==null}">
		                <input class="searchInput" type="text" name="searchWord" placeholder="아이디로 검색"/>
	            	</th:block>
	            	<th:block th:if="${searchWord!=null}">
		                <input class="searchInput" type="text" name="searchWord" th:value="${searchWord}"/>
	            	</th:block>
	                <a class="searchIconATag"><img class="searchIcon" src="image/search.png"></a>
	            </div>
	        	</div>
	        	
	        	<script>
		        	document.getElementsByClassName('searchIcon')[0].addEventListener('click', ()=>{
		        		const category = document.getElementById('area').value;
		        		
		        		if(category=='none'){
							const searchWord = document.getElementsByClassName('searchInput')[0].value
							location.href="searchSupportListAdmin.su?searchWord=" + searchWord;
						} else{
							const searchWord = document.getElementsByClassName('searchInput')[0].value
							location.href="categoryListAdmin.su?searchWord=" + searchWord + "&category="+category;
						}
		        		
		        		
		        	})
		        	
		        	document.addEventListener('keyup', function(event) {
					    if (event.key == 'Enter') {
					        var searchIcons = document.getElementsByClassName('searchIcon');
					        if (searchIcons.length > 0) {
					            var searchIcon = searchIcons[0];
					            var clickEvent = new MouseEvent('click', {
					                bubbles: true,
					                cancelable: true,
					                view: window
					            });
					            searchIcon.dispatchEvent(clickEvent);
					        }
					    }
					});
	        	</script>
        	</div>

        <table class="supportTable">
            <thead>
                <tr>
                    <th>No</th>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>생년월일</th>
                    <th>닉네임</th>
                    <th>등록기관</th>
                    <th>회원 구분</th>
                    <th>활동 상태</th>
                </tr>
            </thead>
            <tbody>
            		<tr th:if="${mList.isEmpty}">
		                <td colspan="8">해당하는 회원이 없습니다.</td>
		            <tr>
	                <tr th:each="m : ${mList}" th:if="${mList!=null}">
	                    <td th:text="${m.uNo}"></td>
	                    <td th:text="${m.uId}"></td>
	                    <td th:text="${m.uName}"></td>
	                    <td th:text="${m.residentNo}"></td>
	                    <td th:text="${m.uNickName}"></td>
	                    <td th:text="${m.registrar}"></td>
	                    <td th:text="${m.isAdmin == 1 ? '일반' : (m.isAdmin == 0 ? '관리자' : (m.isAdmin == 2 ? '봉사관리자' : ''))}"></td>
	                    <td th:text="${m.uStatus}">
							<div style="margin:0 auto;" class="switch-div">
								<input type="radio" id="switch1" th:checked="${m.uStatus == 'Y'}" />
								<label for="switch1" class="switch">Toggle</label>
							</div>
						</td>
	                </tr>
	                
            </tbody>
        </table>
        <div class="page" th:with="loc=${#ctx.springRequestContext.requestUri}">
            <ul class="pagination">
                <li th:if="${ pi.currentPage > 1 }">
	                <a class="first" th:href="@{${loc}(page=${ pi.currentPage -1 })}">
	                	<img class="arrowKey" src="image/before.png">
	                </a>
                </li>
                <li th:unless="${ pi.currentPage > 1 }">
	                	<img class="arrowKey disabled" src="image/before.png">
                </li>
                <li th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage)}">
                	<th:block th:if="${p != 0}">
                	<a th:href="@{${loc}(page=${p})}" th:text="${p}"
                		th:class="${p == pi.currentPage} ? 'num currentPage' : 'num'"></a>
                	</th:block>
                </li>
                <li th:if="${ pi.currentPage < pi.maxPage} ">
	                <a class="last" th:href="@{${loc}(page=${ pi.currentPage + 1 })}">
	                	<img class="arrowKey" src="image/next.png">
	                </a>
                </li>
                <li th:unless="${ pi.currentPage < pi.maxPage }">
	                	<img class="arrowKey disabled" src="image/next.png">
                </li>
            </ul>
        </div>
    </section>
		
</section>

<div th:replace="~{../common/footer :: footer}"></div>
<script>
	const trs = document.getElementsByClassName('supportTable')[0].querySelectorAll('tr');
	for(const tr of trs){
		tr.addEventListener('click', function(){
			const supportNo = this.querySelector('td').innerText;
			location.href="userInfoDetail.me?uNo=" + uNo;
		})
	}	
</script>
        
</body>
</html>