<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>선뜻</title>
<link rel="shortcut icon" type="image/x-icon" href="image/heart.png"/>
<script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<link rel="stylesheet" href="css/member/login.css">
<body>
<div th:replace="~{views/common/header :: header}"></div>

	<div class="main-container">
		<div class="main-wrap">
			<header>
				<div class="logo-wrap">
					<img src="image/logo.jpg" width="120px" height="120px"/>
				</div>
			</header>
			<form action="login.me" method="post" name="loginForm">
			<section class="login-input-section-wrap">
			
				<div class="login-input-wrap">
					<input  type="text" name="uId" id="input-text" required spellcheck="false"/>
					  <span class="placeholder-span">
					    id
					  </span>
				</div>
				<div class="login-input-wrap password-wrap">
					<input  type="password" name="uPwd" id="input-text" required spellcheck="false"/>
					  <span class="placeholder-span">
					    password
					  </span>
				</div>
				
				<div class="login-button-wrap">
					<button type="submit" name="loginBtn">로그인</button>
				</div>
				
				<div class="check-div"><label id="loginCheckResult"></label></div>
				<div class="others">
				<a class="forget-msg" href="findId.me">아이디 찾기 · </a>
				<a class="forget-msg" href="findPwd.me">비밀번호 찾기 · </a>
				<a class="forget-msg" href="enroll.me">회원가입</a>
				</div>
			</section>
			<section class="Easy-sgin-in-wrap">
			  <div class="hr-sect">
			    <hr class="line-left">
			    <div class="textOr">또는</div>
			    <hr class="line-right">
			  </div>
			</section>  
			</form> 
			<section class="kakao-login">
			  <button class="kakao-login">
			    <a href="https://kauth.kakao.com/oauth/authorize?client_id=d392a24d656df0f5e3a1b5da3446b6f9
&redirect_uri=http://192.168.20.210:8080/login/oauth2/kakao&response_type=code"><img src="image/kakao_login.png" class="kakao-logo" id="kakaoBtn"/></a>
			  </button>	
			</section>	
		</div>
	</div>
<br>
<div th:replace="~{views/common/footer :: footer}"></div>
</body>
<script th:inline="javascript">
	// 유효성 검사
	const uId = document.getElementsByName('uId')[0];
	const uPwd = document.getElementsByName('uPwd')[0];
	const loginBtn = document.querySelector('[name="loginBtn"]');
	const loginForm = document.querySelector('[name="loginForm"]');
	
	loginBtn.addEventListener("click", function() {
		event.preventDefault();
		const idInput = uId.value;
		const pwdInput = uPwd.value;
		const loginCheckResult = document.getElementById('loginCheckResult');
		let errorCount = 1;
		
		if(idInput.trim() == ''){
			loginCheckResult.innerText = '아이디를 입력해주세요.';
		} else if(pwdInput.trim() == '') {
			loginCheckResult.innerText = '비밀번호를 입력해주세요.';	
		} else {
			
			$.ajax({
	            url: 'checkLogin.me',
	            data: { uId:idInput.trim(), uPwd:pwdInput.trim() },
	            success: data => {
	                console.log("데이터 전송 성공: " + data);

	                if(data.trim() !== ''){
	                	loginCheckResult.innerHTML = '아이디 또는 비밀번호가 일치하지 않습니다.';

	                } else {
	                	loginForm.submit();
	                }
	            },
	            error: data => {
	                console.log("데이터 전송 실패");
	            }
	        });
	    }        
	});


</script>
</html>
