@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SUITE-Regular", sans-serif;
}

.va-prev-next-btn-div {
	width: 750px;
	display: flex;
} 

.btn-gradient:hover {
 	color: #40513B;
}

.btn-gradient {
	margin-top: 30px;
	margin-bottom: 30px;	
}

.btn-gradient.mini {
	padding: 4px 20px;  
	font-size: 16px;
}

/* Gradient buttons */
.btn-gradient {
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 17px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.btn-gradient {
	background: #999;
}

.dropdown{
    position : relative;
    display : inline-block;
}

.dropdown-btn {
    border : none;
    border-right: 1px solid black;
    background-color: #EDF1D6;
  /*   font-weight: 400; */
    color : rgb(37, 37, 37);
    padding : 10px;
    width :100px;
    height:40px;
    cursor : pointer;
    font-size : 13px;
    text-align: center;
} 

.dropdown{
    position : relative;
    display : inline-block;
}

.dropdown-btn {
    border : none;
    border-right: 1px solid black;
    background-color: #EDF1D6;
  /*   font-weight: 400; */
    color : rgb(37, 37, 37);
    padding : 10px;
    width :100px;
    height:40px;
    cursor : pointer;
    font-size : 13px;
    text-align: center;
}

#areabtn {
    cursor: unset;
    background-color: rgb(240, 240, 240);
}

.dropdown-content {
    display : none;
    position : absolute;
    z-index : 9999;
    font-weight: 400;
    background-color: white;
    min-width : 100px;
    text-align: center;
}

.dropdown-content span{
    display : block;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 12px 0;
}


.dropdown-content span:hover{
    background-color : #609966;
    color:white;
}

.selectArea, .selectOnOffLine, .selectObject, .selectMainCategory, .selectSubCategory {
    width: 100px;
    height: 40px;
    background-color: #EDF1D6;
}

input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

input[type="text"]:focus {
    outline: 2px solid #9DC08B;
}

.date-delimeter::after {
    content: " â“ ";
    font-size: 20px;
}

.dateDiv {
    text-align: center;
    vertical-align: middle;
}

input[type="date"], input[type="time"] {
    width: 112px;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #9DC08B;
    border-radius: 8px;
}

input[type="date"]:focus, input[type="time"]:focus {
    outline: 2px solid #9DC08B;
}

.v-day {
    display: inline-block;
    width: calc(100% / 7);
    text-align: center;
    height: 100%;
    padding: 10px;
    border-right: 1px solid black;
    cursor: pointer;
}

.v-day:last-child {
    border-right: 0;
}

.v-day-select {
    background-color: #9DC08B;
}

.v-day:hover {
    background-color: #9DC08B;
}

input[type="number"] {
    width: 50px;
    height: 95%;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

input[type="number"]:focus {
    outline: 2px solid #9DC08B;
}

.td-padding {
    padding: 5px 10px;
    background-color: rgb(240, 240, 240);
}

.subCategoryDelimiter {
    display: inline-block;
    content: ">";
    margin: 10px;
    font-weight: bold;   
    display: none; 
}

#subCategoryBtn {
    border-left: 1px solid black;
}

#v-title-section {
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

#v-title {
    font-size: 30px;
    border-bottom: 2px solid #40513B;
}

.v-apply-title {
    width: 750px;
}

.v-apply-info table {
    border-style: hidden;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #000;
    width: 750px;
    margin-top: 20px;
    border-collapse: collapse;
}

.v-apply-info table tr:first-child td:first-child {
    border-radius: 8px 0 0 0;
}

.v-apply-info table tr:first-child td:last-child {
    border-radius: 0 8px 0 0;
}

.v-apply-info table tr:last-child td:last-child {
    border-radius: 0 0 8px 8px;
}

.v-apply-info table td:nth-child(odd) {
    text-align: center;
    background-color: rgb(224, 224, 224);
}

.v-apply-info table td {
    font-size: 14px;
    border: 1px solid black;
    height: 40px;
}

.v-apply-info table tr:last-child td:last-child {
    text-align: left;
    background-color: white;
}

.v-apply-btn-div {
    margin-top: 20px;
    text-align: center;
}

.v-apply-btn {
    width: 90px;
    height: 30px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    float: right;
}

.learn-more-green {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    /*   padding: 1.25em 2em; */
    background: #EDF1D6;
    border: 2px solid #609966;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more-green::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #9DC08B;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #609966, 0 0.625em 0 0 #EDF1D6;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more-green:hover {
    background: #EDF1D6;
    transform: translate(0, 0.25em);
}
.learn-more-green:hover::before {
    box-shadow: 0 0 0 2px #609966, 0 0.5em 0 0 #EDF1D6;
    transform: translate3d(0, 0.5em, -1em);
}
.learn-more-green:active {
    background: #EDF1D6;
    transform: translate(0em, 0.75em);
}
.learn-more-green:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
}