@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUITE-Regular", sans-serif;
} 

#v-title-section {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

#v-title {
    font-size: 30px;
    border-bottom: 2px solid #40513B;
}

.path {
    margin-top: 30px;
    width: 740px;
    font-size: 14px;
}

.middle {
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.iconSize {
    block-size: 12px;
}

.homeIconSize {
    block-size: 14px;
}

.sub {
    vertical-align: sub;
}

.v-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v-category {
    border: 1px solid black;
    border-radius: 0.4rem;
    text-align: center;
    width: 750px;
    margin-top: 15px;
}

.v-category-title {
    display: flex;
    justify-content: space-evenly;
}

.v-category-title > div {
    width: 160px;
    padding: 15px 0;
    border-bottom: 1px solid gray;
    font-size: 15px;
    font-weight: bold;
}

.v-category ul {
    margin: 15px 0px;
    margin-left: 8px;
    width: 159.59px;
    height: 100px;
    overflow-y: scroll;
    text-align: left;
}

.v-category li {
    padding-left: 4px;
    text-align: center;
    list-style: none;
    padding: 3px 10px;
    margin: 0 10px;
    cursor: pointer;
}

.v-category li:hover {
    background-color: #d7f1c8;
    border-radius: 8px;
}

.v-category li:first-child {
    background-color: #d7f1c8;
    border-radius: 8px;
}

.v-sub-category {
    display: flex;
}

.v-category ul::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.v-category ul::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #556b4e; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.v-category ul::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.v-enroll-btn-div {
    width: 750px;
}

/*
#v-enrollbtn {
    width: 100px;
    font-size: 14px;
    background-color: #9DC08B;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 7px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}
*/

.v-search {
    display: flex;
    text-align: center;
    width: 750px;
    margin-top: 30px;
}

.v-search-inner {
    align-self: flex-start;
    border: 1px solid black;
    border-radius: 0.4rem;
    padding: 15px;
    text-align: left;
    height: 207px;
}

.date-delimeter::after {
    content: " ⁓ ";
    font-size: 20px;
}

.v-search-inner input {
    padding: 5px;
    border: 1px solid #556b4e;
    border-radius: 8px;
}

.v-search-inner input[type="date"] {
    width: 112px;
    font-size: 12px;
}

.v-search-inner input[type="search"] {
    width: 247px;
    font-size: 14px;
}

.v-search-inner td {
    padding: 5px;
    font-size: 15px;
}

.v-search-inner input:focus {
    outline: 1px solid #556b4e;
}

.v-search-inner-btn {
    margin-right: 7px;
}

/*
#v-search-btn, #v-reset-btn {
    width: 80px;
    font-size: 13px;
    background-color: #9DC08B;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 7px;
    cursor: pointer;
    float: right;
    margin-top: 15px;
}


#v-reset-btn {
    background-color: rgb(173, 165, 165);
    margin-right: 5px;
}
*/

.v-note {
    width: 359px;
    height: 207px;
}

.v-note img{
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 15px;
    max-width:100%; 
    max-height:100%;
    clip-path: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.v-list {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid lightgray;
}

.v-list-box {
    width: 750px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #e9f5e3;
    border-radius: 8px;
    margin-bottom: 25px;
}

.v-list-box:hover {
    box-shadow: 0 1px 3px #609966;
    cursor: pointer;
}
.v-list-item {
    width: 686px;
}

.v-locale-icon {
    background-color: #4f9739;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
}

.v-recruitment-status {
    font-size: 14px;
    font-weight: bold;
}

.v-list-category {
   font-size: 14px; 
}

.v-list-title {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    margin-left: 5px;
}

.v-list-info {
    font-size: 12px;
}

.v-bold {
    font-weight: bold;
    margin-left: 5px;
}

.v-bold::after {
    content: " ";
}

.v-end-box {
    border: 1px solid #40513B;
    text-align: center;
    font-size: 14px;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    margin-right: 5px;
}

.v-end-date {
    color: rgb(252, 48, 48);
}

/* 페이징 */
.page {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
}

.pagination > li {
    list-style-type: none;
    float: left;
}

.pagination > li > .num {
    margin: 10px;
    width: 20px;
    height: 20px;
    text-decoration-line: none;
    color: black;
    font-size: 16px;
    display: inline-block;
    text-align: center
}

.pagination > li > .num:hover {
    color: white;
    background-color: #40513B;
    border-radius: 100%;
}

.arrowKey {
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    block-size: 14px;
    display: block;
}

/* 버튼 */
#v-enroll-btn {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    float: right;
    cursor: pointer;
    margin-left: 5px;
}

#v-search-btn, #v-reset-btn, #v-category-reset-btn {
    width: 60px;
    height: 30px;
    float: right;
    cursor: pointer;
}

#v-category-reset-btn {
	margin-top: 10px;
}
 
.learn-more {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    /*   padding: 1.25em 2em; */
    background: #EDF1D6;
    border: 2px solid #609966;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #9DC08B;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #609966, 0 0.625em 0 0 #EDF1D6;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more:hover {
    background: #EDF1D6;
    transform: translate(0, 0.25em);
}
.learn-more:hover::before {
    box-shadow: 0 0 0 2px #609966, 0 0.5em 0 0 #EDF1D6;
    transform: translate3d(0, 0.5em, -1em);
}
.learn-more:active {
    background: #EDF1D6;
    transform: translate(0em, 0.75em);
}
.learn-more:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
}

#v-reset-btn {
    margin-right: 5px;
}

.learn-more-gray {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    /*   padding: 1.25em 2em; */
    background: #d3d3d3;
    border: 2px solid #808080;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more-gray::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b9b9b9;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #808080, 0 0.625em 0 0 #d3d3d3;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more-gray:hover {
    background: #d3d3d3;
    transform: translate(0, 0.25em);
}
.learn-more-gray:hover::before {
    box-shadow: 0 0 0 2px #808080, 0 0.5em 0 0 #d3d3d3;
    transform: translate3d(0, 0.5em, -1em);
}
.learn-more-gray:active {
    background: #d3d3d3;
    transform: translate(0em, 0.75em);
}
.learn-more-gray:active::before {
    box-shadow: 0 0 0 2px #b3b3b3, 0 0 #d3d3d3;
    transform: translate3d(0, 0, -1em);
}