@charset "UTF-8";

.flex-container {
      	display: flex;
}

#fineNewsAdmin_section {
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 200px;
    display: flex;
    /* justify-content(가로 가운데)랑 align-items(세로 가운데) 쓰기 위해 선언!
        ≫ column을 하는 순간 반대로 다 바뀜 */
    align-items: center;
    flex-direction: column; /* 세로 방향, row는 가로 방향 */
}

#fineNewsAdminTitle {
    font-size: 30px;
    border-bottom: 2px solid #40513B;
    margin-top: 30px;
    margin-bottom: 40px;
}

.actionArea {
    margin-top: 30px;
    width: 800px;
}

.writeArea {
    float: left;
    display: flex;
}

#connectAdmin {
	text-decoration: none;
	font-size: 15px;
	color: #849232;
	margin-left: 10px;
	margin-top: 25px;
	height: 20px;
}

#connectAdmin:hover{
	text-decoration: #9DC08B wavy underline;
	background-color: #ecf0d2;
	color: black;
	border-radius: 10px;
	height: 20px;
}

/* .writeFaqBtn { */
/*     width: 80px; */
/*     height: 30px; */
/*     background-color: #9DC08B; */
/*     color: white; */
/*     border-radius: 0.4rem; */
/*     cursor: pointer; */
/*     border: 1px solid black; */
/*     margin-bottom: 15px; */
/* } */

.searchArea {
    float: right;
    margin-top: 20px;
}

.searchInput {
    float: right;
    width: 160px;
    height: 30px;
    padding: 10px 12px;
    padding-right: 20px;
    border-radius: 0.4rem;
    background-color: #f3f3f3;
    border: 1px solid black;
}

.searchIcon {
    width: 15px;
}

.searchIconATag {
    position: relative;
    left: 155px;
    top: 6px;
}

/* 제목 ... 처리 */

.fineNews_title_wrap, .fineNews_content_wrap {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* 표시할 줄 수 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.fineNews_title, .fineNews_content{
    word-break: break-all;
    font-size: 15px;
    text-align: center;
}

/* 테이블 */

#emptyBoardList {
	pointer-events: none;
}

.fineNewsAdminTable {
    width: 800px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 14px;
    border-radius: 10px;
}

th, td {
    padding: 10px;
}

.fineNewsAdminTable thead tr th {
    border-bottom: 1px dotted black;
    background-color: #EDF1D6;
}

.fineNewsAdminTable thead tr th:first-child {
    border-radius: 10px 0px 0px 0px;
}

.fineNewsAdminTable thead tr th:last-child {
    border-radius: 0px 10px 0px 0px;
}

.fineNewsAdminTable > tbody > tr:hover{
    background-color: #e1e4d2;
    cursor: pointer;
}

/* .finePeopleAdminTable > tbody > tr:active{ */
/* 	background-color: #c4caa8; */
/* } */

.fineNewsAdminTable > tbody td:first-child {
    border-radius: 8px 0px 0px 8px;
}

.fineNewsAdminTable > tbody td:last-child {
    border-radius: 0px 8px 8px 0px;
}

/* 수정 삭제 버튼 */

button {
    width: 50px;
    height: 25px;
    background-color: #9DC08B;
    color: white;
    border-radius: 0.9rem;
    cursor: pointer;
    border: 1px dashed black;
    font-size: 13px;
}

button:active {
    background-color: #5c754a;
}

/* 페이징 처리 */

.page {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
}

.pagination > li {
    list-style-type: none;
    float: left;
}

.pagination > li > .num {
    margin: 10px;
    width: 20px;
    height: 20px;
    text-decoration-line: none;
    color: black;
    font-size: 16px;
    display: inline-block;
    text-align: center
}

.pagination > li > .num:hover {
    color: white;
    background-color: #40513B;
    border-radius: 100%;
}

.currentPage{
	color: white;
    background-color: #9bc08d;
    border-radius: 100%;
}

.arrowKey {
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    block-size: 14px;
    display: block;
}

.disabled {
	opacity: 0.3;
}

/* 귀여운 버튼 */

.writeFaqBtn {
	width: 80px;
    height: 30px;
	margin-top:10px;			
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	vertical-align: middle;
	text-decoration: none;
	font-size: 13px;
	font-family: inherit;
}

.learn-more {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    /*   padding: 1.25em 2em; */
    background: #EDF1D6;
    border: 2px solid #609966;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #9DC08B;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #609966, 0 0.625em 0 0 #EDF1D6;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more:hover {
    background: #EDF1D6;
    transform: translate(0, 0.25em);
}
.learn-more:hover::before {
    box-shadow: 0 0 0 2px #609966, 0 0.5em 0 0 #EDF1D6;
    transform: translate3d(0, 0.5em, -1em);
}
.learn-more:active {
    background: #EDF1D6;
    transform: translate(0em, 0.75em);
}
.learn-more:active::before {
    box-shadow: 0 0 0 2px #609966, 0 0 #EDF1D6;
    transform: translate3d(0, 0, -1em);
}